.article-list-wrap {
  padding-top: 20px;
}

.article-list-wrap .infinite-status-prompt {
  padding-top: 0 !important;
}

.article-list-item {
  margin-bottom: 20px;
}

.article-list-item .cover {
  display: block;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 6px;
}

.article-list-item .cover::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 46.4%;
}

.article-list-item .title {
  font-size: 14px;
}

.article-list-item .category {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 5px 12px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
}

.article-list-group .list-group-item.router-link-active {
  color: #fff;
  background-color: #1a4a94;
}

.view-history-panel ul {
  margin: 0;
  padding: 0;
}

.view-history-panel ul li {
  list-style: none;
  margin-bottom: 10px;
}

.view-history-panel .title {
  display: -webkit-box;
  max-width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 160%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-history-panel  .cover {
  display: block;
  width: 64px;
  height: 64px;
  margin-right: 12px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  float: left;
}