@import '~@/assets/scss/foundation';

.company-wrap {
  padding-top: 20px;
}

.company-menu {
  height: 50px;
  background-color: #fff;
  position: relative;

  .menu-group {
    margin-left: 30px;
  }

  a {
    display: inline-block;
    height: 50px;
    line-height: 30px;
    padding: 10px 20px;
    border-bottom: 4px solid transparent;

    &.router-link-active {
      color: #1a4a94;
      font-weight: bold;
      border-bottom-color: #1a4a94;
    }
  }

  .divider {
    display: inline-block;
    width: 1px;
    height: 50%;
    background-color: #c9c9c9;
    margin: 0 15px;
    position: absolute;
    top: 25%;
  }
}

.profile-main .col-aside {
  padding-left: 0;
}

.profile-main .el-tabs__header {
  margin-bottom: 0;
  background-color: #fff;
}

.profile-main .el-tabs__header .el-tabs__item {
  color: #505050;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.profile-main .el-tabs__header .el-tabs__item.is-active {
  color: #1a4a94;
  font-weight: bold;
}

.company-subpage {
  min-height: 480px;
  margin-top: 10px;
  position: relative;
}

.company-profile {
  background-color: #fff;
}

.profile-main .infinite-status-prompt {
  padding-top: 0 !important;
}

.profile-main .stream-item-inner {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0;
}

.company-list-grid-wrap {
  min-height: 1032px;
}

.company-list-grid::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.company-list-grid .grid-item {
  min-height: 248px;
  overflow: hidden;
}
