<div :class="className">
  <template v-if="message.scene == 'team'">
    <p class="message-sender-name m-b-xs" :class="`message-sender-${message.flow}`" v-if="message.type !== 'notification'">{{ message.fromNick }}</p>
  </template>
  <div class="pos-rlt wrapper-sm b b-light r r-2x message-content" :class="`message-type-${message.type} message-flow-${message.flow}`">
    <span class="arrow pull-up" :class="{'left': message.flow == 'in', 'right': message.flow == 'out'}"></span>
    <template v-if="message.type == 'text'">
      <p class="m-b-none" v-html="formatText(message.text)"></p>
    </template>
    <template v-if="message.type == 'image'">
      <div class="img-wrap" v-if="message.file" :style="`width:${message.file.w}px`">
        <div :id="`preview-img-${sid}_${findImageIndex(message.file.url)}`" class="placeholder" :style="`padding-top:${message.file.h / message.file.w * 100}%`"></div>
        <img v-lazy="stripMetaUrl(message.file.url)" :width="message.file.w" :height="message.file.h" class="message-image preview-img" alt="" @click="$preview.open(findImageIndex(message.file.url), gallery, galleryOptions(`preview-img-${sid}_${findImageIndex(message.file.url)}`))">
      </div>
    </template>
    <template v-if="message.type == 'audio'">
      <a-player
        mode="order" 
        theme="#ffffff" 
        :mutex="true" 
        :music="{
          title: `${message.fromNick}发来的语音消息`,
          author: message.fromNick,
          url: message.file.mp3Url,
          pic: 'none'
        }"
        :style="`width: ${ 170 + Math.round(message.file.dur / 100)}px;`"></a-player>
      <span class="dur">{{ Math.round(message.file.dur / 1000) }}″</span>
    </template>
    <template v-if="message.type == 'video'">
      <p class="m-b-none">当前版本暂不支持查看【视频消息】，请在手机上查看。</p>
    </template>
    <template v-if="message.type == 'file'">
      <a :href="`${message.file.url}?download=${message.file.name}`"><i class="fa fa-file" target="_blank"></i> {{ message.file.name }}</a>
    </template>
    <template v-if="message.type == 'geo'">
      <p class="m-b-none">当前版本暂不支持查看【地理位置】，请在手机上查看。</p>
    </template>
    <template v-if="message.type == 'tip'">
      <p class="m-b-none">{{ message.tip }}</p>
    </template>
    <template v-if="message.type == 'notification'">
      <!-- <p class="m-b-none">{{ message }}</p> -->
      <template v-if="message.attach">
        <p v-if="message.attach.type == 'addTeamMembers'">
          {{ addTeamMembersNotifyMsg(message.attach.users) }}
        </p>
        <p v-if="message.attach.type == 'addTeamManagers'">
          【{{ message.attach.users[0].nick }}】被添加为群管理员
        </p>
        <p v-if="message.attach.type == 'removeTeamManagers'">
          【{{ message.attach.users[0].nick }}】被撤销了群管理员身份
        </p>
        <p v-if="message.attach.type == 'updateTeam'">
          <span v-if="message.attach.users">【{{ message.attach.users[0].nick }}】更新了群信息</span>
        </p>
        <p v-if="message.attach.type == 'leaveTeam'">
          <span v-if="message.attach.users">【{{ message.attach.users[0].nick }}】离开了群聊</span>
        </p>
        <p v-if="message.attach.type == 'dismissTeam'">
          <span v-if="message.attach.users">【{{ message.attach.users[0].nick }}】解散了该群聊</span>
        </p>
        <p v-if="message.attach.type == 'transferTeam'">
          <span v-if="message.attach.users">【{{ message.attach.users[0].nick }}】将该群转让给了【{{ message.attach.users[1].nick }}】</span>
        </p>
        <p v-if="message.attach.type == 'passTeamApply'">
          <span v-if="message.attach.users">【{{ message.attach.users[0].nick }}】加入了群聊</span>
        </p>
        <p v-if="message.attach.type == 'removeTeamMembers'">
          <span v-if="message.attach.users">【{{ message.attach.users[1].nick }}】将【{{ message.attach.users[0].nick }}】移出了群聊</span>
        </p>
        <p v-if="message.attach.type == 'updateTeamMute'">
          <span v-if="!message.attach.mute">【{{ message.attach.users[1].nick }}】被禁言了</span>
          <span v-else>【{{ message.attach.users[1].nick }}】被解除禁言了</span>
        </p>
      </template>
    </template>
    <template v-if="message.type == 'custom' && (typeof message.content == 'string')">
      <chat-msg-item-custom :message=message></chat-msg-item-custom>
    </template>
  </div>
</div>
