.message-sender-out {
  text-align: right;
}

.message-flow-out {
  float: right;
  margin-right: 12px;
}

.message-flow-in {
    float: left;
    margin-left: 12px;
}

.message-type-audio {
  padding: 0 !important;
  background-color: #b0e75a !important;
  border: 0 none;
  border-radius: 3px;
  position: relative;
}

/*.message-type-audio::after {
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #f94747;
  right: -5px;
}*/

.message-type-audio.message-flow-out::after {
  left: -5px;
  right: auto;
}

.message-content.message-type-notification {
  float: none;
  max-width: 60%;
  margin: 0 auto;
  padding: 8px 16px;
  border: 0 none;
  color: #888;
  font-size: 14px;
  background-color: #f8f8f8;
}

.message-content.message-type-notification.message-flow-in {
  -webkit-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  -o-transform: translateX(-25px);
  transform: translateX(-25px);
}

.message-content.message-type-notification.message-flow-out {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
}

.message-content.message-type-notification .arrow {
  display: none;
}

.message-content.message-type-notification p {
  text-align: center;
  margin-bottom: 0;
}

.message-type-audio .dur {
  color: #5d664f;
  font-size: 14px;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -10px;
}

.message-type-audio .arrow.left {
  border-right-color: #b0e75a;
  left: -8px;
  margin-top: -6px;
}

.message-type-audio .arrow.right {
  border-left-color: #b0e75a;
  right: -8px;
  margin-top: -6px;
}

.message-type-audio .arrow.left:after {
  border-right-color: #b0e75a;
}

.message-type-audio .arrow.right:after {
  border-left-color: #b0e75a;
}

.aplayer {
  max-width: 480px;
  margin: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: #fff solid 1px !important;
}

.aplayer .aplayer-info .aplayer-music {
  display: none;
}

.aplayer .aplayer-info {
  min-width: 120px;
  height: 48px !important;
  max-height: 48px !important;
  margin-left: 48px !important;
}

.aplayer .aplayer-pic {
  width: 60px !important;
  height: 48px !important;
  background: none !important;
}

.aplayer .aplayer-icon {
  opacity: 1 !important;
}

.aplayer .aplayer-pic .aplayer-play {
  width: 30px !important;
  height: 30px !important;
  border-width: 1px !important;
  opacity: 1 !important;
}

.aplayer .aplayer-pic .aplayer-button {
  background: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.aplayer .aplayer-pic .aplayer-play .aplayer-icon-play,
.aplayer .aplayer-pic .aplayer-pause .aplayer-icon-pause {
    top: 5px !important;
    left: 5px !important;
    height: 20px !important;
    width: 20px !important;
}

.aplayer .aplayer-pic .aplayer-pause {
    width: 30px !important;
    height: 30px !important;
    border: 1px solid #fff !important;
    opacity: 1 !important;
    bottom: 50% !important;
    right: 50% !important;
    margin: 0 -15px -15px 0 !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
  display: none !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  display: block;
  margin: 5px 42px 0 0 !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  background: #9cd543 !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  background: #9cd543 !important;
}

.panel-chat .img-wrap {
  position: relative;
  overflow: hidden;
}

.panel-chat .img-wrap img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.panel-chat img.emoji {
  display: inline-block;
  width: 24px;
  height: auto;
  margin: 0 2px;
  position: relative;
  top: -2px;
}

.message-item-content .fa-file {
  font-size: 22px;
  margin-right: 2px;
}