@import '~@/assets/scss/foundation';

.workTasks-list-wrap {
  padding-top: 20px;

  .list-group-item.active {
    color: #fff !important;
    background-color: #1a4a94 !important;
    border-color: #e7ecee !important;

    &:active,
    &:hover {
      color: #fff !important;
      background-color: #1a4a94 !important;
      border-color: #e7ecee !important;
    }
  }

  .infinite-status-prompt {
    padding-top: 0 !important;
  }
}


.workTasks-list {
  .title {
    display: block;
    height: rem-calc(22);
    line-height: rem-calc(22);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  .item-state,
  .item-priority {
    display: inline-block;
    color: #fff;
    padding: 3px 6px 1px;
    background-color: #808080;
    border-radius: 3px;
    margin-right: 6px;
    font-size: rem-calc(14);
  }

  .item-state-0 {
    background-color: #238EFA;
  }

  .item-state-10 {
    background-color: #08CE8A;
  }

  .item-priority-0 {
    display: none;
  }

  .item-priority-10 {
    background-color: #FF9500;
  }

  .item-priority-100 {
    background-color: #F22F2F;
  }

  .item-dueTime {
    display: inline-block;
    color: #303030;
    padding: 3px 6px 1px;
    border-radius: 3px;
    margin-right: 6px;
    font-size: rem-calc(14);
  }

  .item-timeout {
    color: #F22F2F;
  }
}
