.anony-login-section {
  min-height: 178px;
  background-color: #F0F7FC;
  border-bottom: #e6eaed solid 1px;
}

.anony-login-section .app-download {
  color: #000;
  background: url('../../../assets/img/login-section/app_cover.png') no-repeat 0 100%;
  width: 750px;
  height: 178px;
  padding-left: 564px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .anony-login-section .app-download {
    width: auto;
    padding-left: 534px;
  }
}

.anony-login-section .app-download .app-title {
  font-size: 24px;
  font-weight: normal;
}

.anony-login-section .app-download .btn {
  padding: 4px 12px;
}

.anony-login-section .app-download-bd {
  margin-top: 44px;
}

.qrcode-popover {
  padding: 10px 0 0;
}

.qrcode-popover img {
  display: block;
  margin: 0 auto;
}

.anony-login-section .login-form {
  width: 270px;
  margin-top: 26px;
}

.anony-login-section .login-form .form-group {
  margin-bottom: 6px;
}

.anony-login-section .login-form .row {
  margin: 0 0 6px;
}

.anony-login-section .login-form .col {
  padding: 0 2px;
}

.anony-login-section .login-form .form-action-group {
  margin-bottom: 6px;
}

.anony-login-section .login-form .form-action-group .btn {
  width: 100%;
}