<div class="anony-login-section">
  <el-popover
    ref="appQRcodePopover"
    placement="top-start"
    width="160"
    trigger="hover">
    <div class="qrcode-popover">
      <img src="../../../assets/img/login-section/qrcode.png" alt="" width="113" height="141">
    </div>
  </el-popover>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="app-download pull-left">
          <div class="app-download-bd">
            <h3 class="app-title"><strong>辅城</strong></h3>
            <p class="app-desc">全球供应链专业平台</p>
            <a href="//www.fccn.cc/app" class="btn btn-primary" target="_blank">下载辅城App</a>
            <span class="qrcode" v-popover:appQRcodePopover>
              <img src="../../../assets/img/login-section/app_qrcode.png" alt="" width="30" height="30">
            </span>
          </div>
        </div>
        <div class="login-form pull-right" v-if="!auth">
          <form @submit.prevent="login(user)">
            <div class="row">
              <div class="col col-sm-12">
                <input type="text" name="fc.username" class="form-control" placeholder="手机号/用户名/邮箱" v-model="user.Account" required>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-12">
                <input type="password" name="fc.password" class="form-control" placeholder="密码" v-model="user.Password" required>
              </div>
            </div>
            <div class="row form-action-group">
              <div class="col col-sm-6">
                <button type="submit" class="btn btn-primary">登陆</button>
              </div>
              <div class="col col-sm-6">
                <router-link :to="{ name: 'signup.index' }" class="btn btn-default">注册</router-link>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-6">
                <label>
                  <input name="fc.remember" type="checkbox" v-model="user.RememberMe" value="true"> 下次自动登录
                </label>
              </div>
              <div class="col col-sm-6 text-right">
                <a href="/access/password-reset">忘记密码?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>