.stream-item-product-content .content-wrap {
  display: block;
  margin-bottom: 10px;
}

.stream-item-product-content a {
  display: block;
  padding: 12px;
  border: #E1E8ED solid 1px;
  border-radius: 6px;
  -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.stream-item-product-content a:hover {
  background-color: #F5F8FA;
}

.stream-item-product-content .cover {
  display: block;
  width: 40%;
  position: relative;
  overflow: hidden;
  float: left;
}

.stream-item-product-content .cover::before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 62.5%;
}

.stream-item-product-content .cover img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.stream-item-product-content .info {
  display: block;
  width: 60%;
  float: left;
  padding: 0 20px;
}

.stream-item-product-content .info > span {
  display: block;
  margin-bottom: 4px;
}

.stream-item-product-content .info .title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 12px;
}