<div class="cham-companies-manager">
  <el-form :model="companyForm" :rules="companyrules" ref="companyForm" label-width="80px">
        <el-form-item label="公司全称" prop="Name">
          <el-input v-model="companyForm.Name"></el-input>
        </el-form-item>

        <el-form-item label="公司简称" prop="BrandName">
          <el-input v-model="companyForm.BrandName"></el-input>
        </el-form-item>

        <el-form-item label="联系电话" prop="ServiceTel" v-if="!companyForm.ServiceTelImgEncodedData">
          <el-input v-model="companyForm.ServiceTel"></el-input>
        </el-form-item>

        <el-form-item label="企业类型" v-if="categories.length" prop="category">
          <el-select v-model="companyForm.category" placeholder="企业类型">
            <el-option
              v-for="item in categories"
              :key="item.Id"
              :label="item.Name"
              :value="item.Id">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="行业属性" v-if="industryProps.length">
          <el-select v-model="companyForm.industryProps" placeholder="行业属性">
            <el-option
              v-for="item in industryProps"
              :key="item.Id"
              :label="item.Name"
              :value="item.Id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="行业类别" v-if="industryTypes.length">
          <el-select v-model="companyForm.industryTypes" placeholder="行业类别" multiple>
            <el-option
              v-for="item in industryTypes"
              :key="item.Id"
              :label="item.Name"
              :value="item.Id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="行业类型" v-if="industryCategories.length">
          <el-select
            v-model="companyForm.industryCategories"
            placeholder="行业类型"
            multiple>
            <el-option
              v-for="item in industryCategories"
              :key="item.Id"
              :label="item.Name"
              :value="item.Id">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="公司法人" prop="LegalPersonName">
          <el-input v-model="companyForm.LegalPersonName"></el-input>
        </el-form-item>

        <el-form-item label="公司简介" prop="AboutUs">
          <el-input v-model="companyForm.AboutUs" type="textarea" :rows="3"></el-input>
        </el-form-item>

        <el-form-item label="所在地" prop="residents">
          <el-cascader :options="options" v-model="companyForm.residents" v-if="options.length" :placeholder="currentArea">
          </el-cascader>
        </el-form-item>
        <el-form-item label="详细地址" prop="Address">
          <el-input
            placeholder="街道门牌号"
            v-model="companyForm.Address">
          </el-input>
        </el-form-item>

        <el-form-item label="是否显示真实信息">
        <el-switch
          v-model="companyForm.IsShowFullDetails"
          on-color=""
          off-color="" style="margin-top:14px;">
        </el-switch>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="changeCompanyForm('companyForm')">更新公司资料</el-button>
        </el-form-item>
  </el-form>
</div>
