<div class="profile-header">
  <div class="profile-card" v-if="userId === company.OwnerId && !!company.OwnerId">
    <div class="card-cover">
      <el-upload
        action="//up.qbox.me/"
        :show-file-list="false"
        list-type="picture"
        :on-success="handleVisualizationUploadSuccess"
        :before-upload="beforeVisualizationUpload"
        :data="uploadVisualizationImageData"
        ref="visualizationImageUploader"
        class="cover-uploader-wrap">
        <button class="btn btn-dark"><i class="fa fa-camera"></i> 编辑封面图片</button>
      </el-upload>
      <profile-cover :src="visualizationImgUrl" width="1600" height="256"></profile-cover>
    </div>
    <div class="card-logo">
      <el-upload
        action="//up.qbox.me/"
        :show-file-list="false"
        list-type="picture"
        :on-success="handleLogoUploadSuccess"
        :before-upload="beforeLogoUpload"
        :data="uploadLogoImageData"
        ref="logoImageUploader"
        class="logo-uploader-wrap">
        <avatar :src="logoUrl" :size="240" mode="logo"></avatar>
        <div class="editor-mask">
          <span><i class="fa fa-camera"></i><br>修改公司LOGO </span>
        </div>
      </el-upload>
    </div>

    <div class="card-info">
      <h3 class="brand-name">
        {{ company.BrandName }}
      </h3>
      <p class="summary">{{ company.AboutUs }}</p>
      <p class="clear">
        <template v-if="company.VerifyStatus == 1">
          <span class="icon-verify icon-verify-corp" v-if="!company.NotAllPass">企</span>
          <span class="icon-verify icon-verify-store" v-else>商</span>
          <span class="icon-verify icon-verify-verified">证</span>
        </template>
        <template v-else>
          <span class="icon-verify icon-verify-default">商</span>
        </template>
      </p>
    </div>
    <div class="alert alert-warning m-t-sm m-b-none" type="warning" v-if="company.VerifyStatus !== 1">
      <div>
        <template v-if="company.VerifyStatus == 0">
          <strong>认证状态：等待认证中</strong>
          <a class="btn btn-success btn-sm m-l-xs" @click="openVerifyDialog">更新资料</a>
        </template>
        <template v-else-if="company.VerifyStatus == -1">
          <strong>认证状态：未通过认证</strong>
          <a class="btn btn-success btn-sm m-l-xs" @click="openVerifyDialog">重新认证</a>
        </template>
        <template v-else>
          <strong>认证状态：尚未认证</strong>
          <a class="btn btn-success btn-sm m-l-xs" @click="openVerifyDialog">立即认证</a>
        </template>
      </div>
    </div>
  </div>

  <div class="profile-card" v-else>
    <div class="card-cover">
      <profile-cover :src="company.VisualizationImgUrl" width="1600" height="256"></profile-cover>
    </div>

    <div class="card-logo">
      <avatar :src="company.LogoUrl" :size="240" mode="logo"></avatar>
    </div>

    <div class="card-info">
      <h3 class="brand-name">
        {{ company.BrandName }}
      </h3>
      <p class="summary" v-if="company.AboutUs">{{ company.AboutUs }}</p>
      <p class="clear">
        <template v-if="company.VerifyStatus == 1">
          <span class="icon-verify icon-verify-corp" v-if="!company.NotAllPass">企</span>
          <span class="icon-verify icon-verify-store" v-else>商</span>
          <span class="icon-verify icon-verify-verified">证</span>
        </template>
        <template v-else>
          <span class="icon-verify icon-verify-default">商</span>
        </template>
        <img class="icon icon-shop" src="~@/assets/svg/company/icon_shop.svg" width="40" v-if="company.HasProducts"/>
      </p>
    </div>

    <div class="following-count" v-if="following.count">
      粉丝{{ following.count }}
    </div>

    <div class="following-btn-group">
      <template v-if="auth">
        <template v-if="isFollowing">
          <el-dropdown class="btn-group dropdown pull-right" trigger="click" v-if="followingTypes.Company">
            <el-button type="primary" size="medium">
              关注设置 <i class="fa fa-caret-down"></i>
            </el-button>

            <el-dropdown-menu slot="dropdown" class="follow-config-dropdown">
              <el-checkbox-group v-model="following.checkedTypes" @change="handleCheckedTypesChange">
                <el-checkbox class="type-item" v-for="typeItem in followingTypes.Company.ItemTypes" :label="typeItem.Code" :key="typeItem.Code">{{ typeItem.Name }}</el-checkbox>
              </el-checkbox-group>
              <el-checkbox class="type-item" :indeterminate="following.isIndeterminate" v-model="following.checkAll" @change="handleCheckAllChange">全选</el-checkbox>
            </el-dropdown-menu>

          </el-dropdown>
        </template>
        <template v-else>
          <button class="btn btn-default" @click="followingThisCompany"><i class="fa fa-plus"></i> 关注我们</button>
        </template>
      </template>
    </div>
  </div>

  <el-dialog title="公司实名认证" v-model="verifyDialogVisible" size="small">
    <verify-manager></verify-manager>
  </el-dialog>
</div>
