.profile-header {
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}
.avatar-wrap{
  border-radius: 50%;
}
.profile-header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-size: cover;
}
.profile-header-bg.blur-bg {
  transform: scale(1.2);
  filter: blur(60px);
}

.profile-card .card-main {
  position: relative;
}

.profile-card .card-cover {
  height: 240px;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.profile-card .cover-uploader-wrap {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 99;
}

.profile-card .logo-uploader-wrap {
  position: relative;
}

.profile-card .logo-uploader-wrap .editor-mask {
  color: #fff;
  background-color: rgba(0,0,0,0);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.profile-card .logo-uploader-wrap .el-upload {
  display: block;
  position: relative;
  vertical-align: top !important;
  overflow: hidden;
}

.profile-card .logo-uploader-wrap:hover .editor-mask {
  background-color: rgba(0,0,0,0.5);
}

.profile-card .logo-uploader-wrap .editor-mask span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;

}

.profile-card .logo-uploader-wrap:hover .editor-mask span {
  opacity: 1;
}

.profile-card .logo-uploader-wrap .editor-mask .fa {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 4px;
}

.profile-card .card-cover .bg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.75;
}

.profile-card .card-logo {
  display: inline-block;
  background-color: #000;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: 32px;
  z-index: 4;
}

.profile-card .card-logo img {
  display: block;
  width: 120px;
  height: 120px;
}

.profile-card .card-info {
  display: block;
  height: 120px;
  margin-top: -60px;
  position: absolute;
  top: 50%;
  left: 170px;
}

.profile-card .card-info .brand-name {
  font-size: 22px;
  margin: 10px 0;
}

.profile-card .icon-verify {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 4px;
  color: #fff;
  background-color: #808080;
  border-radius: 3px;
  font-size: 14px;
  float: left;
  margin-right: 4px;
}

.profile-card .icon-verify-corp {
  background-color: #3d4e9e;
}

.profile-card .icon-verify-store {
  background-color: #782ff2;
}

.profile-card .icon-verify-verified {
  background-color: #ff0906;
}

.profile-card .card-info .summary {
  display: -webkit-box;
  max-width: 500px;
  height: 40px;
  font-size: 14px;
  line-height: 160%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card .following-count {
  position: absolute;
  top: 30px;
  right: 30px;
}

.profile-card .following-btn-group {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.follow-config-dropdown {
  width: 160px;
  padding: 16px 16px 10px;
}

.follow-config-dropdown .type-item {
  display: block;
  margin: 0;
  padding: 4px 0;
}

.profile-header .icon-shop {
  display: inline-block;
  background-color: #fff;
}
