@import '~@/assets/scss/foundation';

.home-tertiary-section {

  .container {
    padding: 0;
  }

  .section-col {
    padding: 0 5px;
  }
}

.home-fourth-section {

  .container {
    padding: 0;
  }

  .section-col {
    padding: 0 5px;
  }
}