<div class="mall-article-entry" v-if="entry.id">
  <div class="col-sm-12 col-md-8">
    <div class="article-entry">
      <div class="entry-hd">
        <h3>{{ entry.title }}</h3>
        <p>发布时间：<timeago :since="entry.createTime * 1000"></timeago>
          <template v-if="isMyMall">
            <router-link :to="{ name: 'mall.article.edit', params: { entryId: entry.id } }" class="edit-link"><i class="fa fa-edit"></i> 编辑该文章</router-link>
            <span @click="dellArticle" class="dell-link"><i class="fa fa-trash"></i> 删除该文章</span>
          </template>
        </p>
      </div>
      <div class="entry-bd">
        <div class="entry-content" v-html="entry.content"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="article-entry-aside">
      <div class="aside-hd">
        <h4>最近文章</h4>
      </div>
      <div class="aside-bd">
        <ul class="latest-news">
          <li v-for="item in latestList">
            <router-link :to="{ name: 'mall.article.entry', params: { entryId: item.id } }">
              <span class="cover" v-lazy:background-image="item.images.url" v-if="item.images"></span>
              <span class="title">{{ item.title }}</span>
              <span class="text-xs block m-t-xs"><timeago :since="item.createTime * 1000"></timeago></span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
