.cham-profile {
  padding-top: 10px;

  .profile-main {
    background-color: #fff;
    padding: 20px;
  }

  .card-logo{
    position:relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    .editor-mask{
      opacity:0;
      position:absolute;
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
      background-color:rgba(0,0,0,.5);
      color:#ffffff;
      text-align: center;
      transition: all ease-in-out .5s;
      &:hover{
        opacity:1
      }
      span{
        height: 30px;
        line-height: 30px;
        display:block;
        margin: 30px auto;
      }
    }
  }

  .info-item {
    color: #000;
    margin-bottom: 20px;

    .info-label {
      display: inline-block;
      min-width: 90px;
      float: left;
    }

    .info-wrap {
      display: block;
      float: left;
    }
  }

  .service-tel-wrap {
    display: inline-block;
    width: 50%;
    height: 24px;
    float: left;
    overflow: hidden;

    .service-tel {
      width: 500%;
      display: inline-block;
      -webkit-transform: scale(0.1610738255033557);
      -ms-transform: scale(0.1610738255033557);
      -o-transform: scale(0.1610738255033557);
      transform: scale(0.1610738255033557);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;

      span {
        display: inline-block;
        width: 64px;
        height: 144px;
      }
    }
  }

  .amap-wrap {
    height: 400px;
    position: relative;
    overflow: hidden;
    border: #e8e8e8 solid 1px;
    padding: 8px;
    background-color: #f6f6f6;

    .amap-main {
      height: 100%;
    }
  }
}
