<v-layout>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="container oa-export-wrap">
      <div class="row">
        <div class="col-sm-3">
          <export-aside></export-aside>
        </div>
        <div class="col-sm-9">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <strong>OA报销查询</strong>
              <button class="btn btn-default pull-right" @click="openSettingDialog" v-if="hasRole"><i class="fa fa-cog"></i> 管理权限</button>
            </div>
            <div class="panel-body">
              <el-form ref="exportForm" :model="exportForm">
                <el-form-item label="日期范围">
                  <el-date-picker
                    v-model="exportForm.dateRange"
                    type="daterange"
                    placeholder="所有时间"
                    @change="onExportSubmit">
                  </el-date-picker>
                </el-form-item>
                <el-form-item label="审批状态">
                  <el-checkbox class="checkall" :indeterminate="oaStatusIsIndeterminate" v-model="oaStatusCheckAll" @change="handleStatusAllChange">全选</el-checkbox>
                  <el-checkbox-group v-model="exportForm.Status" @change="handleStatusChange">
                    <el-checkbox
                      v-for="item in oaStatus"
                      :key="item.value"
                      :label="item.value"
                      :value="item.value">{{ item.label }}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
                <el-form-item label="申请人">
                  <el-checkbox class="checkall" :indeterminate="myColleagueListIsIndeterminate" v-model="myColleagueListCheckAll" @change="handleColleagueListAllChange">全选</el-checkbox>
                  <el-checkbox-group class="employee-list" v-model="exportForm.EmployeeId" @change="onExportSubmit">
                    <template v-if="hasRole">
                      <el-checkbox
                        v-for="item in myColleagueList"
                        :key="item.FriendId"
                        :label="item.FriendId"
                        :value="item.FriendId">{{ item.Friend.Name }}</el-checkbox>
                    </template>
                    <template v-else>
                      <el-checkbox :key="meId" :label="meId" :value="meId">自己</el-checkbox>
                    </template>
                  </el-checkbox-group>
                </el-form-item>
              </el-form>

              <template v-if="exportList.length">
                <button class="btn btn-primary" @click="downloadExportFile">下载查询结果</button>
              </template>
            </div>
          </div>

          <template v-if="exportStatus && exportList.length">
            <div class="panel panel-default">
              <el-collapse v-model="activeNames">
                <template v-for="(item, index) in exportList">
                  <el-collapse-item :name="index">
                    <template slot="title">
                      <span class="name">
                        <template v-if="item.Publisher">
                          {{ item.Publisher.Name }}·{{ item.Publisher.JobTitle }}
                        </template>
                      </span>
                      <span class="price">
                        <template v-if="item.Type">
                          <span class="type-label">{{ item.Type.Name }}：</span>
                        </template>￥{{ item.TotalPrice }}
                      </span>
                      <span class="status label dker" :class="getItemClass(item.OAVerifyStatus)">状态：{{ getStatus(item.OAVerifyStatus) }}</span>
                    </template>
                    <div class="item-bd clearfix">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>申请事由</th>
                            <th>审批状态</th>
                            <th>附件</th>
                            <th>时间</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ item.Reason }}</td>
                            <td>{{ getStatus(item.OAVerifyStatus) }}</td>
                            <td>
                              <template v-if="item.Attachments && item.Attachments.length">
                                <template v-for="(file, index) in item.Attachments">
                                  <p><a :href="file.Uri" target="_blank">附件{{ index + 1 }}</a></p>
                                </template>
                              </template>
                              <template v-else>
                                暂无
                              </template>
                            </td>
                            <td>
                              <timeago :since="item.CreatedTime"></timeago>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <pre>{{ item }}</pre> -->
                    </div>
                  </el-collapse-item>
                </template>
              </el-collapse>
            </div>
          </template>

        </div>
      </div>
    </div>
  </div>

  <el-dialog
    title="报销查询管理权限"
    v-model="settingDialogVisible"
    size="tiny">
    <ul>
      <template v-for="item in myColleagueList">
        <template v-if="item.Friend.UserId !== item.Friend.Company.OwnerId">
          <el-checkbox :value="item.Friend.Id" v-model="roleList[`role-${item.Friend.Id}`]" @change="onRoleChange(item.Friend.Id)">{{ item.Friend.Name }}</el-checkbox>
        </template>
      </template>
    </ul>
    <span slot="footer" class="dialog-footer">
      <el-button @click="settingDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="settingDialogVisible = false">确 定</el-button>
    </span>
  </el-dialog>
</v-layout>
