<div id="newslist">
  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="box">
        <div class="pic" :style="`background-image:url(${require('@/assets/images/ic_home_recom1.png')})`"></div>
        <div class="panel">
          <div class="panel-heading">
            <h2>企业资讯</h2>
            <a href="#" class="more" target="_blank">更多...</a>
          </div>
          <div class="panel-body">
            <template v-for="elem in newsList">
               <a href="#" target="_blank" title="" class="text-overflow">{{elem.title}}</a>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="box">
        <div class="pic" :style="`background-image:url(${require('@/assets/images/ic_home_recom2.png')})`"></div>
        <div class="panel">
          <div class="panel-heading">
            <h2>新技术</h2>
            <a href="#" class="more" target="_blank">更多...</a>
          </div>
          <div class="panel-body">
            <template v-for="elem in lawList">
               <a href="#" target="_blank" title="" class="text-overflow">{{elem.title}}</a>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="box">
        <div class="pic" :style="`background-image:url(${require('@/assets/images/ic_home_recom3.png')})`"></div>
        <div class="panel">
          <div class="panel-heading">
            <h2>法律政策</h2>
            <a href="#" class="more" target="_blank">更多...</a>
          </div>
          <div class="panel-body">
            <template v-for="elem in newTecList">
               <a href="#" target="_blank" title="" class="text-overflow">{{elem.title}}</a>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
