<div id="newslist">
  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="box">
        <div class="pic" :style="`background-image:url(${require('@/assets/images/ic_home_recom1.png')})`"></div>
        <div class="panel">
          <div class="panel-heading">
            <h2>企业资讯</h2>
            <router-link :to="{ name: 'chamber.news', params: { chamId: chamId } }" class="more">更多...</router-link>
          </div>
          <div class="panel-body">
            <template v-for="elem in newsList">
               <router-link :to="{ name: 'chember.newentry', params: { entryId: elem.id } }" class="text-overflow" :title="elem.title">{{elem.title}}</router-link>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="box">
        <div class="pic" :style="`background-image:url(${require('@/assets/images/ic_home_recom2.png')})`"></div>
        <div class="panel">
          <div class="panel-heading">
            <h2>新技术</h2>
            <router-link :to="{ name: 'chamber.tec', params: { chamId: chamId } }" class="more">更多...</router-link>
          </div>
          <div class="panel-body">
            <template v-for="elem in lawList">
              <router-link :to="{ name: 'chember.newentry', params: { entryId: elem.id } }" class="text-overflow" :title="elem.title">{{elem.title}}</router-link>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="box">
        <div class="pic" :style="`background-image:url(${require('@/assets/images/ic_home_recom3.png')})`"></div>
        <div class="panel">
          <div class="panel-heading">
            <h2>法律政策</h2>
            <router-link :to="{ name: 'chamber.law', params: { chamId: chamId } }" class="more">更多...</router-link>
          </div>
          <div class="panel-body">
            <template v-for="elem in newTecList">
               <router-link :to="{ name: 'chember.newentry', params: { entryId: elem.id } }" class="text-overflow" :title="elem.title">{{elem.title}}</router-link>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
