.panel-chat {
    height: 100%;
    position: relative;
    background-color: #fdfdfd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-chat .panel-body {
    display: block;
    width: 100%;
    height: calc(100% - 161px);
    position: relative;
    padding: 0;
    border-top: 0 none;
}

.panel-chat.is-official-panel .panel-body {
    height: 100%;
    padding-bottom: 50px;
}

.panel-chat .stranger-alert {
  display: block;
  width: 100%;
  border-radius: 0;
  padding: 10px;
  position: absolute;
  top: -41px;
  left: 0;
  z-index: 99;
}

.panel-chat .panel-footer {
    height: 120px;
    padding: 36px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fdfdfd;
    border-top: #d3d8da solid 1px;
    border-radius: 0;
}

.panel-chat .panel-footer .btn-send-msg {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
    margin-top: -18px;
}

.panel-chat .panel-footer .panel-footer-hd {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.panel-chat .panel-footer .panel-footer-bd {
    display: block;
    width: 100%;
    height: 100%;
}

.panel-chat .atwho-wrap,
.panel-chat .msg-input-wrap {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 12px;
}

.panel-chat .atwho-wrap > div,
.panel-chat .msg-input-wrap > div {
    display: block;
    width: 100%;
    height: 100%;
}

.panel-chat .atwho-wrap .msgTextInput,
.panel-chat .msg-input-wrap .msgTextInput {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
    user-modify: read-write-plaintext-only;
    -webkit-user-modify: read-write-plaintext-only;
}

.panel-chat .panel-footer .input-group {
    top: 3px;
}

.panel-chat .panel-footer .form-control:focus {
    border-color: #003A95;
}

.panel-chat .messages-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.panel-chat .messages-box {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px 15px 20px;
}

.panel-chat .message-content {
    max-width: 500px;
    background-color: #f1f1f1;
}

.panel-chat .arrow.left:after {
    border-right-color: #f1f1f1;
}

.panel-chat .arrow.right:after {
    border-left-color: #f1f1f1;
}

.sendFileForm {
    display: inline-block;
    margin-top: 3px;
}

.image-menu-trigger {
    cursor: pointer;
    color: #58666e !important;
    display: inline-block;
    background-color: #fff;
    border: #dee5e7 solid 1px;
    border-bottom: #d8e1e3 solid 1px;
    margin: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.image-menu-trigger:hover,
.image-menu-trigger:focus,
.image-menu-trigger:active {
    color: #58666e !important;
    background-color: #edf1f2;
    border-color: #c7d3d6;
}

.image-menu-trigger:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.image-menu-trigger i.fa {
    font-size: 16px;
}

.btn-emoji i.fa {
    font-size: 18px;
    position: relative;
    top: 2px;
}

.btn-more .fa {
    font-size: 14px;
}

.emojis-wrap {
    display: block;
    width: 100%;
    height: 262px;
    background-color: #fff;
    border-top: 1px solid #d1d7e5;
    position: absolute;
    left: 0;
    bottom: 120px;
    z-index: 999;
}

.emojis-wrap .emojis-box {
    display: block;
    width: 100%;
    height: 100%;
}

.emojis-wrap .el-tabs__item.is-active {
    background-color: #fff;
}

.emojis-wrap .el-tabs__active-bar {
    visibility: hidden;
}

.emojis-wrap .el-tabs__header {
    margin-bottom: 0;
    background-color: #f0f0f0;
}

.emojis-wrap .el-tab-pane {
    display: block;
    width: 100%;
    height: 220px;
    padding: 15px 15px 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.emojis-box .emoji-item {
    display: inline-block;
    margin: 4px;
    padding: 4px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.emojis-box .emoji-item:hover {
    background-color: #f0f0f0;
    -webkit-transform: scale(1.16);
    -ms-transform: scale(1.16);
    -o-transform: scale(1.16);
    transform: scale(1.16);
}

.custom-message-menu {
    display: block;
    width: 160px;
    position: absolute;
    bottom: 120px;
    left: 88px;
}

.friend-cards-selector .list-group-item i.fa {
  min-width: 12px;
}

.friend-cards-selector .list-group-item i.fa-angle-down,
.friend-cards-selector .list-group-item.active i.fa-angle-right {
  display: none;
}

.friend-cards-selector .list-group-item.active i.fa-angle-down {
  display: inline-block;
}

.friend-cards-selector > .list-group-item {
  padding: 0 !important;
}

.friend-cards-selector .list-group-item a.menu-trigger {
  display: block;
  padding: 10px 15px !important;
  width: 100%;
}

.friend-cards-selector > .list-group-item.active {
  color: inherit;
  background-color: transparent !important;
  border-color: #edf1f2 !important;
}

.friend-cards-selector > .list-group-item.active a.menu-trigger {
  color: inherit;
  background-color: #f8f8f8;
}

.friend-cards-selector > .list-group-item.active .text-muted {
  color: inherit !important;
}

.friend-cards-selector .list-group-item .list-group {
    display: none;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.friend-cards-selector .list-group-item.active .list-group {
  display: block;
}

.atwho-ul {
    max-height: 280px !important;
}

.atwho-view {
    max-width: 320px !important;
}

.atwho-li {
    height: 50px !important;
}

.atwho-li .item-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #c0c0c0;
    margin-right: 6px;
    -webkit-background-size: cover;
    background-size: cover;
}


