<form name="form" class="create-market-stream-form">
  <div class="panel">
    <div class="panel-heading">发布市场动态</div>
    <div class="panel-body">
      <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4}"
        placeholder="有什么新鲜事"
        @focus="openLoginDialog">
      </el-input>
    </div>
  </div>
  <el-dialog title="欢迎来到辅城，请先登录" v-model="loginDialogVisible" :modal-append-to-body="false" size="tiny">
    <login-dialog-form></login-dialog-form>
  </el-dialog>
</form>