<div class="home-market-panel panel">
  <div class="panel-heading">
    <h4>市场动态</h4>
  </div>
  <div class="panel-body">
    <el-tabs v-model="activePanel" @tab-click="handleClick">
      <el-tab-pane :label="pane.Title" :name="pane.Id" v-for="pane in streamCats" :key="pane.Id">
        <div class="home-stream-timeline">
          <template v-for="item in streamList">
            <div class="home-stream-item" v-if="item.SenderId">
              <div class="stream-item-inner">
                <div class="stream-item-header wrapper-xs clearfix">
                  <router-link :to="{ name: 'company.stream', params: { id: item.Sender.CompanyId } }" class="pull-left thumb-sm m-r-sm">
                    <template v-if="item.Sender.CompanyId">
                      <avatar :src="item.Sender.Company.LogoUrl" :size="80" class="img-rounded"></avatar>
                    </template>
                    <template v-else>
                      <avatar :src="null" :size="80" class="img-rounded"></avatar>
                    </template>
                  </router-link>
                  <div class="m-l-sm m-b-xs">
                    <template v-if="item.Sender.CompanyId">
                      <router-link :to="{ name: 'company.stream', params: { id: item.Sender.CompanyId } }" class="company-brand-name">
                        <template v-if="item.Sender.Company.VerifyStatus == 1">
                          <i class="icon-company-type icon-company-type-1" v-if="!item.Sender.Company.NotAllPass">企</i>
                          <i class="icon-company-type icon-company-type-2" v-else>商</i>
                          <i class="icon-company-type icon-company-verified">证</i>
                        </template>
                        <template v-else>
                          <i class="icon-company-type">商</i>
                        </template>
                        {{ item.Sender.Company.BrandName }}
                      </router-link>
                      <span class="text-muted m-r-xs m-t-md pull-right">
                        <timeago :since="item.CreatedTime"></timeago>
                      </span>
                      <div class="stream-tags">
                        <span v-for="tag in item.Tags" class="icon-stream-tag" :class="tag.Icon">{{ tag.Name }}</span>
                      </div>
                      <p>
                        <small class="text-muted clear text-ellipsis">
                          <template v-if="getIndustry(item).length">
                            <span v-for="(industry, index) in getIndustry(item)" :key="industry.Id">
                              {{ industry.Name }} <template v-if="index !== (getIndustry(item).length - 1)">、</template>
                            </span>
                            <span>-</span>
                          </template>
                          <span v-for="category in getCategory(item)" :key="category.Id">{{ category.Name }}</span>
                          <span>- {{ item.Sender.Company.ResidentProvince }}</span>
                        </small>
                      </p>
                    </template>
                  </div>
                  <hr class="m-t-md m-b-n">
                </div>
                <div class="stream-item-body" v-if="item.Content">
                  <p class="stream-item-text-content">{{ item.Content }}</p>
                </div>
              </div>
            </div>
          </template>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
  <div class="panel-footer">
    <router-link :to="{ name: 'stream.market' }" class="btn btn-block btn-dark btn-more">
      查看更多
    </router-link>
  </div>
</div>