<div class="mall-companies-wrap">
  <template v-if="isMyMall">
    <button class="btn btn-primary btn-add-new" @click="openCompanyManagerDialog">添加商户</button>
    <el-dialog class="company-manager-dialog" title="查找公司" v-model="companyManagerVisible" size="large">
      <company-manager v-on:companyManagerUpdate="onCompanyManagerUpdate"></company-manager>
    </el-dialog>
  </template>

  <template v-if="companyList.length">
    <company-grid :items="companyList" v-on:mallCompanyDeleted="onMallCompanyDeleted"></company-grid>
  </template>

  <infinite-loading :on-infinite="onListInfinite" spinner="waveDots" ref="streamInfiniteLoading">
    <span slot="no-more"><a href="javascript:void(0);" @click="backtop" class="backtop">返回顶部</a></span>
    <span slot="no-results">
      <placeholder text="暂无结果"></placeholder>
    </span>
  </infinite-loading>
</div>
