@import '~@/assets/scss/foundation';

.mall-companies-wrap {
  padding-top: 10px;
  position: relative;

  .btn-add-new {
    position: absolute;
    right: 20px;
    top: -42px;
  }

  .backtop{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #e2e2e2;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 3px;
    transition: all ease-in-out .5s;
    &:hover{
      opacity: 0.8;
      background-color: #f5f5f5;
    }
  }
}

.company-manager-dialog {
  .el-dialog {
    top: 10% !important;
  }
}
