<div class="cham-articles-list">
  <div class="row clearfix">
      <div class="col-sm-3 categoryList">
        <category-list :currentCategory="currentCategory" v-on:onGetCurrentPageList="getCurrentCatArticleList" ref="categorylist"></category-list>
      </div>

      <div class="col-sm-9 article-list">
          <div class="article-item" v-for="item in list" :key="item.id">
            <router-link :to="{ name: 'cham.article.entry', params: { entryId: item.id } }" class="clearfix">
              <div class="col-sm-12 col-md-3 item-cover-wrap" v-if="item.cover[0]">
                  <span class="cover" v-lazy:background-image="item.cover[0]"></span>
              </div>
              <div class="col-sm-12 col-md-9 item-info-wrap">
                <div class="item-info">
                  <h3>{{ item.title }}</h3>
                  <p class="summary">{{ item.abstractContent }}</p>
                  <p class="metas"><span class="read-count">{{ item.readCount }} 阅读</span> <timeago :since="item.createTime * 1000"></timeago></p>
                </div>
              </div>
            </router-link>
          </div>

          <infinite-loading :on-infinite="onListInfinite" spinner="waveDots" ref="streamInfiniteLoading">
            <span slot="no-more"><a href="javascript:void(0);" @click="backtop">返回顶部</a></span>
            <span slot="no-results">
              <placeholder text="暂无结果"></placeholder>
            </span>
          </infinite-loading>
    </div>
  </div>
</div>
