.profile-card .card-content {
  overflow: hidden;
  position: relative;
  padding-right: 106px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-left: 32px;
}

.profile-card .card-content .brandname {
  color: #000;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.profile-card .card-content .brandname {
  color: #000;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.profile-card .brandname .icon {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 4px;
  color: #fff;
  background-color: #808080;
  border-radius: 3px;
  font-size: 14px;
  float: left;
  margin-right: 4px;
}

.profile-card .brandname .icon-corp {
  background-color: #3d4e9e;
}

.profile-card .brandname .icon-store {
  background-color: #782ff2;
}

.profile-card .info-item {
  color: #000;
  margin-bottom: 20px;
}

.profile-card .el-cascader .el-input__inner {
  height: 30px;
}

.profile-card .el-cascader__label {
  line-height: 30px;
}

.profile-card .info-item .info-label {
  display: inline-block;
  min-width: 90px;
  float: left;
}

.profile-card .info-item .info-wrap {
  display: block;
  float: left;
}

.profile-card .service-tel-wrap {
  display: inline-block;
  height: 24px;
  float: left;
  overflow: hidden;
}

.profile-card .service-tel {
  display: inline-block;
  -webkit-transform: scale(0.1610738255033557);
  -ms-transform: scale(0.1610738255033557);
  -o-transform: scale(0.1610738255033557);
  transform: scale(0.1610738255033557);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.profile-card .service-tel span {
  display: inline-block;
  width: 64px;
  height: 144px;
}

.profile-card .info-item .info-wrap .editableform .form-control {
  display: block;
  width: 360px;
}

.profile-card .info-item .info-wrap .editableform textarea.form-control {
  display: block;
  width: 640px;
}

.info-item .divider {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: #e7eaf1;
}

.card-action {
  display: block;
  width: 160px;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 4;
  text-align: right;
}

.card-action .dropdown-menu {
  width: 360px;
}

.card-action .dropdown-menu p {
  color: #202020;
  font-size: 15px;
}

.card-action .dropdown-menu .media img {
  display: inline-block;
  width: 50px;
  height: 50px;
}