@import '~@/assets/scss/settings';
#topmodule{
  .none-padding-left{
    padding-left: 0 !important;
  }
  .myswiper{
    position: relative;
    height: 372px;
    overflow: hidden;
    width:900px;
    .swiper-container{
      height: 372px;
      .swiper-wrapper,.swiper-slide{
        height: 372px;
      }
      a{
        display: block;
        width: 900px;
        height: 372px;
      }
    }
  }
}
