<v-layout>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="container article-entry-wrap">
      <div class="row">
        <div class="col-sm-3">
          <div class="list-group m-n">
            <router-link class="list-group-item" :to="{ name: 'articles.list', params: { categoryId: 'featured' } }">精选</router-link>
            <template v-for="item in categories">
              <router-link class="list-group-item" :to="{ name: 'articles.list', params: { categoryId: item.Id } }">{{ item.Title }}</router-link>
            </template>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="article-entry">
            <template v-if="entry.Content">
              <div v-html="formatContent(entry.Content)"></div>
            </template>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel view-history-panel" v-if="viewHistoryList.length">
            <div class="panel-heading m-b-n">
              <strong>最近浏览</strong>
            </div>
            <div class="panel-body">
              <ul>
                <li class="clearfix" v-for="item in viewHistoryList">
                  <router-link :to="{ name: 'articles.entry', params: { entryId: item.PlatformArticle.Id } }">
                    <template v-if="item.PlatformArticle.PlatformArticleAlbum.length">
                      <span class="cover" v-lazy:background-image="formatCover(item.PlatformArticle.PlatformArticleAlbum[0].Imgurl)"></span>
                    </template>
                    <template v-else>
                      <span class="cover"></span>
                    </template>
                    <span class="title">{{ item.PlatformArticle.Title }}</span>
                    <span class="text-xs block m-t-xs"><timeago :since="item.UpdateTime"></timeago></span>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</v-layout>
