<div class="cham-annual-list">
  <template v-if="list.length">
    <div class="annual-item" v-for="item in list" :key="item.id">
      <router-link :to="{ name:'cham.annual.entry', params: { entryId: item.id } }" class="clearfix">
        <div class="col-sm-12 col-md-12 item-info-wrap">
          <div class="item-info">
            <div class="col-sm-6">
            <h3 class="text-ellipsis">[年度总结] {{ item.title }}</h3>
            </div>
            <div class="col-sm-6 text-right">
              <timeago :since="item.createTime * 1000" class="pull-right"></timeago>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </router-link>
    </div>
  </template>
  <template v-else>
    <div class="annual-null">
      还没有年度总结数据！
    </div>
  </template>
</div>
