<el-form :model="loginForm" class="m-b-n">
  <el-form-item>
    <el-input name="fc.username" v-model="loginForm.Account" placeholder="手机号/用户名/邮箱" auto-complete="off"></el-input>
  </el-form-item>
  <el-form-item>
    <el-input 
      name="fc.password" 
      type="password" 
      v-model="loginForm.Password" 
      placeholder="密码" 
      auto-complete="off" 
      v-on:keyup.native.enter="login()"></el-input>
  </el-form-item>
  <el-form-item class="m-b-xs">
    <el-button type="primary" class="btn-block" @click="login()">立即登录</el-button>
  </el-form-item>
  <el-col :span="12">
    <el-form-item>
      <el-checkbox name="fc.remember" v-model="loginForm.RememberMe">下次自动登录</el-checkbox>
    </el-form-item>
  </el-col>
  <el-col :span="12">
    <el-form-item>
      <a href="/access/password-reset" class="pull-right">忘记密码?</a>
    </el-form-item>
  </el-col>
</el-form>