@import '~@/assets/scss/foundation';
.cham-company-search-list {
  height: 100%;

  & > div {
    height: 100%;
  }

  .company-list {
    height: 100%;
    padding: 15px 15px 20px;
    background-color: #fff;
    border: #cfdadd solid 1px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .grid-item {
    position: relative;
    height: 116px;
    width: 50%;
    overflow: hidden;
    padding: 10px 5px;
    float: left;
    box-sizing: border-box;

    .grid-item-wrapper{
      border: 1px dashe #e2e2e2;
      overflow: hidden;
      height: 116px;
      cursor:pointer;
      padding-left: 100px;
      padding-top: 18px;
      background-color: #f8f8f8;
      position: relative;
    }
    .item-logo-wrap {
      position: absolute;
      top: 15px;
      left: 10px;
    }

    &:hover{
      .pointerBtn{
        opacity:1;
      }
    }

    .pointerBtn{
      position: absolute;
      top: 0;
      left: 0;
      opacity:0;
      background:rgba(0,0,0,.6);
      color:#ffffff;
      font-size:rem-calc(24);
      width: 100%;
      height: 116px;
      z-index: 10;
      text-align: center;
      transition: all ease-in-out .5s;
      cursor:pointer;
      span{
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 0;
        text-align: center;
        i{
          margin:0 10px;
        }
      }
    }

    &:last-child{
      margin-bottom: 0;
    }

    .profileName {
      strong {
        display: inline-block;
        max-width: 100px;
        font-size: rem-calc(25);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
