<div class="company-employee company-subpage row">
  <div class="col-md-12" v-if="isMyCompany">
    <div class="panel no-border">
        <div class="panel-heading wrapper b-b b-light">
            <strong>员工权限管理<small>（每个角色最多只能设置三个管理员）</small></strong>
        </div>
        <template v-if="hasRoleList">
          <ul class="list-group list-group-lg m-b-none" v-if="allEmployeeRoles.length !== 0">
            <template v-for="(item, index) in allEmployeeRoles">
              <li class="list-group-item clearfix">
                <div class="dropdown pull-right">
                  <button class="btn btn-default" type="button" @click="setManager(item.Name,item.Code,item.Employees)">
                    <i class="glyphicon glyphicon-cog"></i> 设置管理员
                  </button>
                </div>
                <div class="clear roleinfo">
                  <h3>{{ item.Name }}</h3>
                  <div class="roleuserlist text-muted clear text-ellipsis">
                    当前管理员（{{item.Employees.length}}/3）：
                    <template v-if="item.Employees && item.Employees.length">
                      <template v-for="(childItem, childIndex) in item.Employees">
                        <span class="label" :class="labelCss[`${childIndex}`]">{{ childItem.Name }}</span>
                      </template>
                    </template>
                    <template v-else>
                      <span style="padding-left:10px;">您还没有设置该角色管理员！</span>
                    </template>
                  </div>
                </div>

                <el-dialog :title="currentRolesName" v-model="managerDialogVisible" size="large">
                  <div class="manager-bd">
                    <employee-role-list :items="allEmployees" :initCheckedList="initCheckedList" v-on:updateCheckedList="updateCheckedList"></employee-role-list>
                  </div>
                  <div class="dialog-footer">
                    <el-button @click="managerDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="addRoleFromMember">确 定</el-button>
                  </div>
                </el-dialog>

              </li>
            </template>
          </ul>
          <placeholder text="暂无角色列表" v-else></placeholder>
        </template>
    </div>
  </div>
  <div class="col-md-12" v-if="isRole">
    <div class="no_rbac"><i class="fa fa-exclamation-triangle"></i> 您没有权限访问该模块！</div>
  </div>
</div>
