@import '~@/assets/scss/foundation';

.article-manager {
  background-color: #fff;
  overflow: hidden;
  padding: 20px;
  .el-form-item {
    margin-bottom: 10px;
  }
  .articleFormBox{
    .el-form-item__label {
      float: none;
      margin: 0;
    }
  }
  .action-row {
    margin-top: 16px;
  }
  .col-md-9 {
    @include breakpoint(large) {
      padding-right: 16px;
    }
  }

  .fr-box.fr-basic {
    .fr-element {
      padding: 12px 15px;
    }
  }
  .fr-toolbar.fr-top {
    box-shadow: none;
    border: #d8d8d8 solid 1px;

    &.fr-sticky-on {
      top: 33px !important;
    }
  }
  .fr-box.fr-basic.fr-top .fr-wrapper {
    box-shadow: none;
    border: #d8d8d8 solid 1px;
    border-top: 0 none;
  }

  .el-form-item__content {
    line-height: 140%;
  }

  p {
    line-height: 150%;
    margin: 0 0 16px;
  }

  table {
    th,
    td {
      padding: 8px 12px;
    }
  }
}

.avatar-uploader .el-upload {
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #20a0ff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.cover-thumb {
  display: block;
  width: 100%;
  height: auto;
}

.categoryManagerBox{
  .el-dialog__body{
    padding: 20px;
  }
  .columns{
    background-color: #f9f9f9;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 10px;
    h2{
      font-size: 16px;
      margin: 0;
      border: 1px solid #e2e2e2;
      font-weight: 500;
      padding: 10px;
      background-color: #fff;
      overflow: hidden;
      line-height: 28px;
    }
    .el-form{
      padding: 15px;
      border: 1px solid #e2e2e2;
      background-color: #fff;
      border-top: none;
      label{
        margin-bottom: 0;
      }
      .el-form-item__content{
        margin-bottom: 15px;
      }
      .btnbox,.label-switch{
        .el-form-item__content{
          margin-bottom: 5px;
        }
      }
      .el-switch__core{
        margin-top: 7px;
      }
    }
  }

  .categoryList{
    border: 1px solid #e2e2e2;
    border-top: none;
    background-color: #fff;
    ul{
      overflow: hidden;
      margin-bottom: 0;
      padding: 10px 15px 0;
    }
    h3{
      margin: 0;
      font-size: 14px;
      line-height: 35px;
      font-weight: 600;
    }
    dl{
      dd{
        line-height: 30px;
        border-bottom: 1px dashed #e2e2e2;
        padding-bottom: 12px;
        margin-bottom: 10px;
        &>span{
          margin-right: 10px;
          display: inline-block;
          width: 80px;
        }
      }
    }
  }
}
