.bidding-manager {
  padding: 0 80px 0 0;
}

.bidding-manager .el-form-item {
  margin-bottom: 8px;
}

.bidding-manager .cover-uploader-item {
  margin-bottom: 16px;
}

.bidding-manager .form-action-item {
  padding-top: 10px;
}

.form-qty-item .el-col {
  height: 36px;
}

.form-qty-item .el-input-number {
  width: 100%;
  margin-top: 2px;
}

.bidding-manager .el-form-item .cover-uploader {
  display: inline-block;
  float: left;
  margin-right: 6px;
}

.bidding-manager .el-form-item .cover {
  display: inline-block;
  width: 72px;
  height: 72px;
  position: relative;
  margin-right: 6px;
}

.bidding-manager .el-form-item .cover-bg {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.bidding-manager .el-form-item .cover .btn {
  position: absolute;
  top: 10px;
  right: 10px;
}