<div class="team-memberes-manager team-add-members-wrap">
  <div class="col-sm-6">
    <div class="team-add-members-list-wrap">
      <!-- <el-input class="team-members-search-input" placeholder="查找成员" icon="search"></el-input> -->
      <div class="team-add-members-list">
        <div class="list-group-item" :class="{ 'active': group.Id == currentGroupId }" v-for="group in myFriendGroup" :key="group.Id">
          <a class="menu-trigger" @click="switchCurrentGroup(group.Id)">
            <i class="fa fa-angle-right"></i> <i class="fa fa-angle-down"></i> {{ group.Name }} 
            <small class="pull-right">
              <template v-if="myFriendList(`group-${group.Id}`)">
                {{ myFriendList(`group-${group.Id}`).length }}
              </template>
              <template v-else>0</template>
            </small>
          </a>
          <ul class="list-group m-b-none" v-if="teamMembers[currentSession.id] && mode == 'addmore'">
            <template v-for="(item, index) in myFriendList(`group-${group.Id}`)">
              <template v-if="hasInTeamMembersList(item.Friend.AccId)">
                <li class="list-group-item selected disabled">
                  <div class="clear">
                    <span class="pull-left thumb-sm m-r">
                      <template v-if="item.Friend.UserId">
                        <avatar :src="item.Friend.User.PortraitUrl" :size="80" class="r r-2x"></avatar>
                      </template>
                      <template v-else>
                        <avatar :src="null" :size="80" class="r r-2x"></avatar>
                      </template>
                    </span>
                    <i class="icon-checked el-icon-circle-check"></i>
                    <p class="m-b-xxs">{{ item.Friend.Name }}</p>
                    <small class="text-muted clear text-ellipsis" v-if="item.Friend.CompanyId">{{ item.Friend.Company.BrandName }}
                      <template v-if="item.Friend.JobTitle">·{{ item.Friend.JobTitle }}</template>
                    </small>
                    <small class="text-muted clear text-ellipsis" v-else>个人</small>
                  </div>
                </li>
              </template>
              <template v-else>
                <li class="list-group-item" :class="{'selected': hasInTeamMembersTmpList(item.Id)}" @click="toggleTeamMembersTmpList(item)">
                  <div class="clear">
                    <span class="pull-left thumb-sm m-r">
                      <template v-if="item.Friend.UserId">
                        <avatar :src="item.Friend.User.PortraitUrl" :size="80" class="r r-2x"></avatar>
                      </template>
                      <template v-else>
                        <avatar :src="null" :size="80" class="r r-2x"></avatar>
                      </template>
                    </span>
                    <i class="icon-checked el-icon-circle-check"></i>
                    <p class="m-b-xxs">{{ item.Friend.Name }}</p>
                    <small class="text-muted clear text-ellipsis" v-if="item.Friend.CompanyId">{{ item.Friend.Company.BrandName }}
                      <template v-if="item.Friend.JobTitle">·{{ item.Friend.JobTitle }}</template>
                    </small>
                    <small class="text-muted clear text-ellipsis" v-else>个人</small>
                  </div>
                </li>
              </template>
            </template>
          </ul>
          <ul class="list-group m-b-none" v-if="mode == 'createnew'">
            <template v-for="(item, index) in myFriendList(`group-${group.Id}`)">
              <li class="list-group-item" :class="{'selected': hasInTeamMembersTmpList(item.Id)}" @click="toggleTeamMembersTmpList(item)">
                <div class="clear">
                  <span class="pull-left thumb-sm m-r">
                    <template v-if="item.Friend.UserId">
                      <avatar :src="item.Friend.User.PortraitUrl" :size="80" class="r r-2x"></avatar>
                    </template>
                    <template v-else>
                      <avatar :src="null" :size="80" class="r r-2x"></avatar>
                    </template>
                  </span>
                  <i class="icon-checked el-icon-circle-check"></i>
                  <p class="m-b-xxs">{{ item.Friend.Name }}</p>
                  <small class="text-muted clear text-ellipsis" v-if="item.Friend.CompanyId">{{ item.Friend.Company.BrandName }}
                    <template v-if="item.Friend.JobTitle">·{{ item.Friend.JobTitle }}</template>
                  </small>
                  <small class="text-muted clear text-ellipsis" v-else>个人</small>
                </div>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="team-add-members-list-selected">
      <div class="panel">
        <div class="panel-heading">
          <strong>已选择的联系人</strong>
        </div>
        <div class="panel-body">
          <ul class="list-group m-b-none">
            <template v-for="(item, index) in addTeamMembersTmpList">
              <li class="list-group-item">
                <div class="clear">
                  <span class="pull-left thumb-sm m-r">
                    <template v-if="item.Friend.UserId">
                      <avatar :src="item.Friend.User.PortraitUrl" :size="80" class="r r-2x"></avatar>
                    </template>
                    <template v-else>
                      <avatar :src="null" :size="80" class="r r-2x"></avatar>
                    </template>
                  </span>
                  <a class="btn-remove" @click="toggleTeamMembersTmpList(item)"><i class="el-icon-circle-close"></i></a>
                  <p class="m-b-xxs">{{ item.Friend.Name }}</p>
                  <small class="text-muted clear text-ellipsis" v-if="item.Friend.CompanyId">{{ item.Friend.Company.BrandName }}
                    <template v-if="item.Friend.JobTitle">·{{ item.Friend.JobTitle }}</template>
                  </small>
                  <small class="text-muted clear text-ellipsis" v-else>个人</small>
                </div>
              </li>
            </template>
          </ul>
        </div>
        <div class="panel-footer">
          <template v-if="mode === 'addmore'">
            <button class="btn btn-primary pull-right" @click="addNewMembersToTeam">添加</button>
          </template>
          <template v-if="mode === 'createnew'">
            <button class="btn btn-primary pull-right" @click="createNewTeam">新建群聊</button>
          </template>
          <button class="btn btn-default pull-right m-r-sm" @click="closeTeamMembersManager">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>