<div class="contact-main-menu">
  <a @click="openContactPanel('contact.sessions')" :class="{'active': activePanel == 'contact.sessions'}" title="会话">
    <span>
      <i class="fa fa-comments"></i>
      <b class="badge bg-danger" v-if="msgUnreadCount">
        <template v-if="msgUnreadCount < 100">{{ msgUnreadCount }}</template>
        <template v-else>99+</template>
      </b>
    </span>
  </a>
  <a @click="openContactPanel('contact.list')" :class="{'active': activePanel == 'contact.list'}" title="好友">
    <span><i class="fa fa-user-circle"></i></span>
  </a>
  <a class="btn-close" @click="closeContactPanel"><i class="el-icon-close"></i></a>
</div>