<div class="cham-articles-list">
  <div class="article-item" v-for="(item, index) in list" :key="item.id">
    <el-collapse v-model="activeNames" accordion>
      <el-collapse-item :title="`${getItemTitle(item.identity)}`" :name="index">
        <div class="suggest-content" v-html="item.content"></div>
        <div class="time">反馈时间：<timeago :since="item.createTime * 1000"></timeago></div>
      </el-collapse-item>
    </el-collapse>
  </div>

  <infinite-loading :on-infinite="onListInfinite" spinner="waveDots" ref="streamInfiniteLoading">
    <span slot="no-more"><a href="javascript:void(0);" @click="backtop">返回顶部</a></span>
    <span slot="no-results">
      <placeholder text="暂无结果"></placeholder>
    </span>
  </infinite-loading>

</div>
