@import '~@/assets/scss/foundation';

.cham-articles-list {
  background-color: #fff;
  padding: 16px;

  .article-item {
    margin-bottom: 16px;

    .time{
      text-align: right;
      display: block;
      height: 30px;
      border-top: 1px dashed #dadada;
      margin-top: 10px;
      line-height:40px;
      margin-left: 20px;
    }

    .suggest-content{
      padding-left: 20px;
    }
  }
}
