<div class="comment-item m-l-xs m-b-sm clearfix">
  <a class="pull-left thumb-sm">
    <avatar :src="comment.Sender.User.PortraitUrl" :size="80" class="img-rounded" v-if="comment.Sender.UserId"></avatar>
    <avatar :src="null" :size="80" class="img-rounded" v-else></avatar>
  </a>
  <div class="m-l-xxl clearfix">
    <div class="pos-rlt">
      <span class="text-muted m-l-sm pull-right">
        <timeago :since="comment.CreatedTime" :auto-update="60" :max-time="86400 * 60"></timeago>
      </span>
      <a href="javascript:;">{{ comment.Sender.Name }} :</a>
      {{ comment.Content }}                   
    </div>
  </div>
</div>