<form name="form" class="create-market-stream-form" @submit.prevent="createNewStream">
  <div class="panel">
    <div class="panel-heading">发布市场动态</div>
    <div class="panel-body">
      <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4}"
        placeholder="有什么新鲜事"
        v-model="stream.content"
        @focus="changeEditingStatus(true)">
      </el-input>
    </div>
    <div class="panel-footer clearfix" v-show="onStreamEditing">
      <div class="stream-image-uploader-wrap">
        <el-upload
          action="//up.qbox.me/"
          list-type="picture-card"
          :multiple="true"
          :on-preview="handleImagePreview"
          :on-remove="handleRemove"
          :on-success="handleSuccess"
          :before-upload="beforeUpload"
          :data="imageData"
          :disabled="imageUploaderStatus"
          ref="imageUploader">
          <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog v-model="previewDialogVisible" size="tiny">
          <img width="100%" :src="previewImageUrl" alt="">
        </el-dialog>
      </div>

      <div class="stream-cats-select-wrap">

        <template v-if="streamCats[`cat-${catTypeId}`]">
          <div class="stream-cats-select">
            <el-select v-model="stream.catTypeId" placeholder="行业属性" @change="onCatTypeIdChange">
              <el-option
                v-for="item in streamCats[`cat-${catTypeId}`].Categories"
                :key="item.Id"
                :label="item.Name"
                :value="item.Id">
              </el-option>
            </el-select>
          </div>
        </template>

        <template v-if="streamCats[`cat-${categoryId}`]">
          <div class="stream-cats-select">
            <el-select v-model="stream.categoryIds" placeholder="行业类别（可多选）" multiple>
              <el-option
                v-for="item in streamCatByIndustry"
                :key="item.Id"
                :label="item.Name"
                :value="item.Id">
              </el-option>
            </el-select>
          </div>
        </template>

        <div class="stream-cats-select" v-if="streamTags.length">
          <el-select v-model="stream.tagIds" placeholder="产品类型（可多选）" multiple>
            <el-option
              v-for="item in streamTags"
              :key="item.Id"
              :label="item.Name"
              :value="item.Id">
            </el-option>
          </el-select>
        </div>

        <template v-if="streamCats[`cat-${industryId}`]">
          <div class="stream-cats-select">
            <el-select v-model="stream.industryIds" placeholder="行业类型（可多选）" multiple>
              <el-option
                v-for="item in streamCats[`cat-${industryId}`].Categories"
                :key="item.Id"
                :label="item.Name"
                :value="item.Id">
              </el-option>
            </el-select>
          </div>
        </template>
      </div>

      <div class="stream-types-radio-wrap">
        <el-radio-group v-model="stream.typeId">
          <template v-for="typeItem in streamTypes">
            <el-radio class="radio" :label="typeItem.Id">{{ typeItem.Name }}</el-radio>
          </template>
        </el-radio-group>
      </div>

      <button class="btn btn-primary btn-submit pull-right" :disabled="!stream.content && stream.images.length == 0">发布</button>
    </div>
  </div>
</form>
