<v-layout>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="container following-stream-wrap">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel">
            <div class="panel-heading">
              <strong>按分类查看</strong>
            </div>
            <div class="panel-body">
              <template v-if="friendGroup.length">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全部</el-checkbox>
                <el-checkbox-group v-model="currentGroupId" @change="handleCheckedTypesChange">
                  <template v-for="item in friendGroup">
                    <el-checkbox :label="item.Id" :key="item.Id">{{item.Name}}</el-checkbox><br>
                  </template>
                </el-checkbox-group>
              </template>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <template v-for="item in friendStream">
            <stream-item :item="item" :gallery="galleries[`gallery${item.Id}`]" type="friends" v-on:deleteStream="deleteThisStream" v-on:imageLoaded="onImageLoaded($event, item.Id)"></stream-item>
          </template>

          <infinite-loading :on-infinite="onStreamInfinite" spinner="waveDots" ref="streamInfiniteLoading">
            <span slot="no-more"><a href="#">返回顶部</a></span>
            <span slot="no-results">
              <placeholder text="暂无结果"></placeholder>
            </span>
          </infinite-loading>
        </div>
        <div class="col-sm-3">

        </div>
      </div>
    </div>
  </div>
</v-layout>
