<v-layout>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="container following-stream-wrap">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel">
            <div class="panel-heading">
              <strong>按分类查看</strong>
            </div>
            <div class="panel-body">
              <template v-if="followingTypes.Company">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全部</el-checkbox>
                <el-checkbox-group v-model="filters.currentTypesId" @change="handleCheckedTypesChange">
                  <template v-for="item in followingTypes.Company.ItemTypes">
                    <el-checkbox :label="item.Code" :key="item.Code">{{item.Name}}</el-checkbox><br>
                  </template>
                </el-checkbox-group>
              </template>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <template v-for="item in followingStream">
            <template v-if="item.RelType == 'CompanyTalk' && item.RelObj.Images.length">
              {{ formatStreamGallery(item.RelObj) }}
            </template>
            <stream-item :item="item"></stream-item>
          </template>

          <infinite-loading :on-infinite="onStreamInfinite" spinner="waveDots" ref="streamInfiniteLoading">
            <span slot="no-more"><a href="#">返回顶部</a></span>
            <span slot="no-results">
              <placeholder text="暂无结果"></placeholder>
            </span>
          </infinite-loading>
        </div>
        <div class="col-sm-3">
          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <strong class="m-t-none m-b-none">最新关注</strong>              
            </div>
            <ul class="list-group list-group-lg m-b-none">
              <template v-for="item in latestFollowingList">
                <list-item :item="item"></list-item>
              </template>
            </ul>
            <div class="panel-footer">
              <span class="pull-right badge badge-bg m-t-xs">{{ followingList.length }}</span>
              <router-link :to="{ name: 'my.following.list' }" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> 全部关注</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</v-layout>
