<div class="apply-manager">
  <el-form ref="applyForm" :rules="rules" :model="applyForm">
    <div class="col-sm-12 col-md-6">
      <el-form-item label="单位名称" prop="companyName" required>
        <el-input v-model="applyForm.companyName" placeholder="请输入单位名称"></el-input>
      </el-form-item>
      <el-form-item label="单位地址" prop="address" required>
        <el-input type="textarea" :rows="2" :maxlength="100" placeholder="请输入单位地址" v-model="applyForm.address"></el-input>
      </el-form-item>
    <div class="col-sm-6">
      <el-form-item label="手机号码" prop="phone" required>
        <el-input v-model="applyForm.phone" placeholder="请输入手机号码"></el-input>
      </el-form-item>
    </div>
      <div class="col-sm-6">
      <el-form-item label="法人代表" prop="legalRepresentative" required>
        <el-input v-model="applyForm.legalRepresentative" placeholder="请输入法人代表"></el-input>
      </el-form-item>
    </div>
    <div class="col-sm-6">
      <el-form-item label="固定电话" prop="telephone" required>
        <el-input v-model="applyForm.telephone" placeholder="请输入固定电话"></el-input>
      </el-form-item>
  </div>
    <div class="col-sm-6">
    <el-form-item label="传真号码" prop="telefacsimile" required>
      <el-input v-model="applyForm.telefacsimile" placeholder="请输入传真号码"></el-input>
    </el-form-item>
  </div>
    <div class="col-sm-6">
      <el-form-item label="邮箱地址" prop="email">
        <el-input v-model="applyForm.email" placeholder="请输入邮箱地址"></el-input>
      </el-form-item>
    </div>
    <div class="col-sm-6">
      <el-form-item label="微信号" prop="wechat">
        <el-input v-model="applyForm.wechat" placeholder="请输入微信号"></el-input>
      </el-form-item>
    </div>
  <div class="col-sm-6">
  <el-form-item label="注册资金" prop="balance">
    <el-input type="number" min="1" v-model="applyForm.balance" placeholder="请输入注册资金">
      <template slot="append">元</template>
    </el-input>
  </el-form-item>
  </div>
  <div class="col-sm-6">
  <el-form-item label="企业人数" prop="peopleNumber">
    <el-input type="number" min="1" v-model="applyForm.peopleNumber" placeholder="请输入企业人数">
      <template slot="append">人</template>
    </el-input>
  </el-form-item>
</div>

    </div>
    <div class="col-sm-12 col-md-6">

      <el-form-item label="法人身份证" prop="enclosureidentity" required>
        <div class="cover-uploader-wrap">
          <el-upload
            class="avatar-uploader"
            :action="uploadUrl"
            :on-success="handleIdentitySuccess"
            :before-upload="beforeIdentityUpload"
            :data="imageData"
            :show-file-list="false"
            :with-credentials="true"
            ref="imageIdentityUploader"
            >
            <template v-if="imageIdentityImage.length">
              <img :src="imageIdentityImage[0]" class="cover-thumb"/>
            </template>
            <template v-else>
              <i class="el-icon-plus avatar-uploader-icon"></i>
            </template>
          </el-upload>
        </div>
      </el-form-item>

      <el-form-item label="营业执照" prop="enclosurelicense" required>
        <div class="cover-uploader-wrap">
          <el-upload
            class="avatar-uploader"
            :action="uploadUrl"
            :on-success="handleLicenceSuccess"
            :before-upload="beforeLicenceUpload"
            :data="imageData"
            :show-file-list="false"
            :with-credentials="true"
            ref="imageLicenseUploader"
            >
            <template v-if="imageLicenseImage.length">
              <img :src="imageLicenseImage[0]" class="cover-thumb"/>
            </template>
            <template v-else>
              <i class="el-icon-plus avatar-uploader-icon"></i>
            </template>
          </el-upload>
        </div>
      </el-form-item>
    </div>

    <div class="col-sm-12 col-md-12 text-center">
      <el-form-item class="action-row">
        <template v-if="route.name == 'cham.apply.new'">
          <el-button type="primary" @click="submitForm('applyForm')">提交申请</el-button>
        </template>
      </el-form-item>
    </div>
  </el-form>
</div>
