.user-profile a {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.user-profile .avatar-wrap img {
  border-radius: 100%;
}

.user-profile a:hover {
  color: #303030;
}

.user-profile .brand-name {
  font-size: 14px;
}

.user-profile .brand-name .fa {
  margin-left: 6px;
}

.user-profile-info {
  color: #404040;
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 50px;
}

.user-profile-info .info-label {
  color: #888;
  display: inline-block;
  min-width: 80px;
  float: left;
}

.user-profile-info .location {
  white-space: nowrap;
}

.user-profile-info .address {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-verify {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  color: #fff;
  background-color: #808080;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

.icon-verify-corp {
  background-color: #3d4e9e;
}

.icon-verify-store {
  background-color: #782ff2;
}

.icon-verify-verified {
  background-color: #ff0906;
}