<div class="user-profile clearfix text-center m-t-lg" :class="{'from-contact-list': user}">
  <template v-if="currentUser.Id">
    <div class="thumb-xl">
      <template v-if="currentUser.UserId">
        <avatar :src="currentUser.User.PortraitUrl" :size="256" class="img-circle"></avatar>
      </template>
      <template v-else>
        <avatar :src="null" :size="256" class="r r-2x"></avatar>
      </template>
    </div>
    <div class="h4 m-t m-b-xs">{{ currentUser.Name }}</div>
    <p>
      <small class="text-muted clear text-ellipsis" v-if="currentUser.CompanyId">{{ currentUser.Company.BrandName }}
        <template v-if="currentUser.JobTitle">·{{ currentUser.JobTitle }}</template>
      </small>
      <small class="text-muted clear text-ellipsis" v-else>个人</small>
    </p>
    <div class="line line-dashed b-b line-lg"></div>
    <div class="user-profile-info">
      <p class="brand-name" v-if="currentUser.Company">
        <span class="info-label">公司名片：</span>
        <a @click="goToPage('company.profile', currentUser.CompanyId)">
          <template v-if="currentUser.Company.VerifyStatus == 1">
            <span class="icon-verify icon-verify-corp" v-if="!currentUser.Company.NotAllPass">企</span>
            <span class="icon-verify icon-verify-store" v-else>商</span>
            <span class="icon-verify icon-verify-verified">证</span>
          </template>
          <template v-else>
            <span class="icon-verify icon-verify-default">商</span>
          </template>
          <span>{{ currentUser.Company.BrandName }}</span>
          <i class="fa fa-external-link"></i>
        </a>
      </p>
      <p class="company-products" v-if="currentUser.Company">
        <span class="info-label">微店：</span>
        <a @click="goToPage('company.products', currentUser.CompanyId)">
          <span>查看微店</span>
          <i class="fa fa-external-link"></i>
        </a>
      </p>
      <template v-if="currentUser.User">
        <p class="phone clear"><span class="info-label">联系方式：</span><span>{{ currentUser.User.PhoneNumber }}</span></p> 
      </template>
      <template v-if="currentUser.Company">
        <p class="location clear">
          <span class="info-label">所在地：</span>
          <span>{{ currentUser.Company.ResidentProvince }} - {{ currentUser.Company.ResidentCity }} - {{ currentUser.Company.ResidentArea }} </span>
        </p>
        <p class="address clear"><span class="info-label">详细地址：</span><span>{{ currentUser.Company.Address }}</span></p> 
      </template>
      <br>
      <p class="action">
        <button class="btn btn-block btn-primary" @click="insertSession(currentUser.AccId)">发送消息</button>
      </p>
    </div>
  </template>
  <template v-else>
    <placeholder text="找不到该用户"></placeholder>
  </template>
</div>