<div class="cham-articles-wrap">
  <template>
    <div class="btnbox">
      <div class="moduleCategory">
        <ul class="list-unstyled">
          <li v-for="elem in typeOptions" :class="{active:elem.value == currentModule}">
            <span @click="getCurrentList(elem.value)">{{ elem.label }}</span>
          </li>
        </ul>
      </div>
      <div class="btn btn-info btn-add-category" v-if="isMyCham" @click="dialogCategoryVisible = true">分类管理</div>
      <router-link :to="{ name: 'cham.article.new' }" class="btn btn-primary btn-add-new" v-if="isMyCham">添加资讯</router-link>
    </div>
  </template>

  <div class="clearfix articleModule">
    <div class="col-sm-12 col-md-12">
      <article-list ref="article" :currentModule="currentModule"></article-list>
    </div>
  </div>

  <el-dialog title="分类管理" :visible.sync="dialogCategoryVisible" size="large" class="categoryManagerBox">
    <categoryManager></categoryManager>
  </el-dialog>
</div>
