@import '~@/assets/scss/foundation';

.category-manager {
  .el-dialog__body{
    padding: 20px;
  }
  .columns{
    background-color: #f9f9f9;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 10px;
    h2{
      font-size: 16px;
      margin: 0;
      border: 1px solid #e2e2e2;
      font-weight: 500;
      padding: 10px;
      background-color: #fff;
      overflow: hidden;
      line-height: 28px;
    }
    .el-form{
      padding: 15px;
      border: 1px solid #e2e2e2;
      background-color: #fff;
      border-top: none;
      label{
        margin-bottom: 0;
      }
      .el-form-item__content{
        margin-bottom: 15px;
      }
      .btnbox,.label-switch{
        .el-form-item__content{
          margin-bottom: 5px;
        }
      }
      .el-switch__core{
        margin-top: 0px;
      }
    }
  }

  .categoryList{
    border: 1px solid #e2e2e2;
    border-top: none;
    background-color: #fff;
    ul{
      overflow: hidden;
      margin-bottom: 0;
      padding: 10px 15px 0;
    }
    h3{
      margin: 0;
      font-size: 14px;
      line-height: 35px;
      font-weight: 600;
    }
    dl{
      dd{
        line-height: 30px;
        border-bottom: 1px dashed #e2e2e2;
        padding-bottom: 12px;
        margin-bottom: 10px;
        &>span{
          margin-right: 10px;
          display: inline-block;
          width: 80px;
        }
      }
    }
  }
}
