<div class="category-manager">
  <div class="row">
    <div class="col-sm-6">
      <div class="columns">
       <h2>全部分类<el-button :plain="true" type="success" size="small" icon="plus" @click="addCategory()" class="pull-right">添加分类</el-button></h2>
        <div class="categoryList">
       <ul class="list-unstyled">
         <li v-for="elem in typeOptions">
           <h3>{{ elem.label }}</h3>
           <dl>
             <dd v-for="elemChild in getFilterOptions(elem.value)">
               <span>{{ elemChild.categoryName }}</span>
               <el-button :plain="true" type="info" size="small" icon="edit" @click="editCategory(elemChild.id)">修改分类</el-button>
               <el-button :plain="true" type="danger" size="small" icon="delete" @click="deleteCategory(elemChild.id)">删除分类</el-button>
             </dd>
           </dl>
         </li>
       </ul>
       <div class="clearfix"></div>
       </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="columns">
       <h2>{{ categoriesManagerTitle }}</h2>
       <el-form label-position="right" :rules="rules" ref="categoryForm" label-width="100px" :model="categoryForm">
        <el-form-item label="分类名称" prop="categoryName" required>
          <el-input v-model="categoryForm.categoryName" placeholder="请输入分类名称( 最大字数不多于4 )"></el-input>
        </el-form-item>
        <el-form-item label="分类类型" prop="type" required v-if="isNewAdd">
          <el-select v-model="categoryForm.type" placeholder="请选择分类类型">
            <el-option
              v-for="item in typeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="是否启用" class="label-switch">
          <el-switch on-text="" off-text="" v-model="categoryForm.isUse"></el-switch>
        </el-form-item>
        <el-form-item class="btnbox">
          <el-button class="btn btn-primary" @click="submitcategoryForm('categoryForm')">确 定</el-button>
        </el-form-item>
      </el-form>
     </div>
    </div>
  </div>
</div>
