.auction-comment {
  padding: 0 80px 0 0;
}

.auction-comment .el-form-item {
  margin-bottom: 8px;
}

.auction-comment .cover-uploader-item {
  margin-bottom: 16px;
}

.auction-comment .form-action-item {
  padding-top: 10px;
}

.auction-comment .form-price-item .el-input-number {
  float: left;
  margin-right: 6px;
}
