<div class="auction-comment">
  <el-form ref="auctionComment" :model="auctionComment" label-width="120px">
    <el-form-item class="form-price-item clearfix" label="我的供应单价">
      <el-input-number v-model="auctionComment.Price"></el-input-number>
      <span>不低于当前价格：{{ item.CurrPrice }}元</span>
    </el-form-item>
    <el-form-item label="我的留言">
      <el-input type="textarea" v-model="auctionComment.Message"></el-input>
    </el-form-item>
    <el-form-item class="form-action-item">
      <el-button type="primary" @click="onSubmit">我要报价</el-button>
      <el-button @click="onClose">取消</el-button>
    </el-form-item>
  </el-form>
</div>