@import '~@/assets/scss/foundation';

.about-wrapper {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  margin-top: 10px;
  h3{
    text-align: center;
  }
  .entry-content{
    padding: 20px 20px 30px;
  }
  .btn-add{
    position:absolute;
    top: 25px;
    right: 25px;
  }
}

.company-manager-dialog {
  .el-dialog {
    top: 10% !important;
  }
}
