<div class="about-wrapper">
  <div class="col-sm-12 col-md-12">
    <div class="article-entry">
      <div class="entry-hd">
        <h3>商城简介</h3>
        <template v-if="isMyMall">
          <el-button type="primary" class="btn-add" @click="openRulesManagerDialog">编辑商城简介</el-button>
          <el-dialog class="company-manager-dialog" title="编辑商会简介" v-model="aboutManagerVisible" size="large">
            <el-form ref="aboutForm" :model="aboutForm">
              <el-form-item>
                <froala id="froala-editor" :tag="'textarea'" :config="config" v-model="aboutForm.introduction" ref="froala"></froala>
              </el-form-item>
              <el-form-item class="text-right">
                <el-button type="primary" @click="saveChanges">保存更改</el-button>
              </el-form-item>
            </el-form>
          </el-dialog>
        </template>
      </div>
      <div class="entry-bd">
        <div class="entry-content" v-html="about.introduction" v-if="about.introduction"></div>
        <div class="entry-content text-center" v-else>
          该商城还没有相关介绍
        </div>
      </div>
    </div>
  </div>
</div>
