@import '~@/assets/scss/foundation';

.ad-list-manager {
  padding: rem-calc(0) rem-calc(20);

  h4 {
    padding-bottom: rem-calc(20);
    border-bottom: #e0e0e0 solid 1px;
    margin-bottom: 0;
  }

  .list-item {
    cursor: move;
    display: block;
    border-bottom: #e0e0e0 solid 1px;
    padding-bottom: rem-calc(20);
    overflow: hidden;
  }

  .item-cover {
    display: block;
    width: 150px;
    height: 80px;
    margin-top: rem-calc(20);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
  }
}
