<div class="article-manager">
  <div class="panel">
    <div class="panel-body">
      <el-form ref="articleForm" :model="articleForm">
        <div class="col-sm-12 col-md-9">
          <el-form-item label="话题内容">
            <el-input type="textarea" :rows="8" placeholder="请输入内容" v-model="articleForm.content"></el-input>
          </el-form-item>
          <el-form-item label="上传附件">
            <el-upload
              :action="uploadUrl"
              list-type="picture-card"
              :multiple="true"
              :show-file-list="true"
              :on-success="handleSuccess"
              :before-upload="beforeUpload"
              :on-remove="handleRemove"
              :data="imageData"
              :on-change="handleChange"
              ref="fileUploader"
              :with-credentials="true"
              :file-list="fileList1"
              >
              <i class="el-icon-plus"></i>
              <div slot="tip" class="el-upload__tip">上传附件只能是jpg或png的图片格式，且大小不超过2M</div>
            </el-upload>
          </el-form-item>
          <el-form-item class="action-row">
            <template v-if="route.name == 'mall.topic.new'">
              <el-button type="primary" @click="createNew">立即创建</el-button>
            </template>
            <template v-else>
              <el-button type="primary" @click="saveChanges">保存更改</el-button>
            </template>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
</div>
