@import '~@/assets/scss/foundation';

.subnav {
  height: 50px;
  background-color: #fff;
}

.subnav a {
  display: inline-block;
  height: 50px;
  line-height: 30px;
  padding: 10px 20px;
  border-bottom: 4px solid transparent;
}

.subnav a.router-link-active {
  color: #1a4a94;
  font-weight: bold;
  border-bottom-color: #1a4a94;
}