<div class="team-profile clearfix text-center m-t-lg">
  <template v-if="currentTeam && teamMembers[`team-${teamid}`]">
    <a class="btn-team-settings" @click="openTeamInfoSettings" v-if="isTeamManager"><i class="el-icon-setting"></i> 设置</a>
    <div class="team-info-basic" v-show="!teamInfoSettingsVisible">
      <div class="thumb-xl">
        <template v-if="isTeamManager || currentTeam.updateTeamMode == 'all'">
          <el-upload
              action="//up.qbox.me/"
              :show-file-list="false"
              list-type="picture"
              :on-success="handleAvatarUploadSuccess"
              :before-upload="beforeAvatarUpload"
              :data="uploadTeamAvatarData"
              ref="teamAvatarUploader"
              class="team-avatar-uploader-wrap">
              <avatar :src="currentTeam.avatar" :size="256" class="img-circle" v-if="currentTeam.avatar"></avatar>
              <avatar :src="null" :size="256" class="r r-2x" v-else></avatar>
              <p class="m-t-xs"><i class="fa fa-edit"></i> 修改群聊头像 </p>
            </el-upload>
        </template>
        <template v-else>
          <avatar :src="currentTeam.avatar" :size="256" class="img-circle" v-if="currentTeam.avatar"></avatar>
          <avatar :src="null" :size="256" class="r r-2x" v-else></avatar>
        </template>
      </div>
      <div class="h4 m-t m-b-xs">{{ currentTeam.name }}</div>
      <div class="line line-dashed b-b line-lg"></div>
      <div class="team-profile-info">
        <p class="team-name">
          <span class="info-label">群名称：</span><span class="info-content">
            <template v-if="isTeamManager || currentTeam.updateTeamMode == 'all'">
              {{ currentTeam.name }} <a @click="modifyMyTeamName"><i class="fa fa-edit"></i> 修改</a>
            </template>
            <template v-else>
              {{ currentTeam.name }}
            </template>
          </span>
        </p>
        <p class="team-intro">
          <span class="info-label">我的群名片：</span>
          <span class="info-content" v-if="teamMembers[`team-${currentTeam.teamId}`]">
            <template v-if="teamMembers[`team-${currentTeam.teamId}`].filter(item => item.account === myAccid)[0].nickInTeam">
              {{ teamMembers[`team-${currentTeam.teamId}`].filter(item => item.account === myAccid)[0].nickInTeam }}
            </template>
            <template v-else>
              {{ myNimInfo.nick }}
            </template>
            <a @click="modifyMyTeamNick"><i class="fa fa-edit"></i> 修改</a>
          </span>
        </p>
        <p class="team-members clear">
          <span class="info-label">群成员 ( {{ currentTeamMembers.length }}人 )</span><span class="info-content pull-right"><a class="btn-view-members" @click="openTeamMembersDialog">查看</a></span>
        </p>
        <p class="team-intro">
          <span class="info-label">群介绍：</span><span class="info-content">{{ currentTeam.intro }}</span>
        </p>
        <p class="team-notice" v-if="currentTeam.announcement">
          <span class="info-label">群公告：</span><span class="info-content">{{ noticeFormat(currentTeam.announcement).content }}</span>
        </p>
        <div class="action">
          <button class="btn btn-block btn-primary" @click="insertSession(currentTeam.teamId)">发送消息</button>
        </div>
      </div>
    </div>
    <div class="team-info-settings-panel" v-show="teamInfoSettingsVisible">
      <div class="team-settings-container" v-if="teams[`team-${this.teamid}`]">
        <div class="team-joinMode">
          <div class="info-label"><strong>加入方式</strong></div>
          <el-radio-group v-model="teamSettings.joinMode" @change="teamSettingsOnChange($event, 'joinMode')">
            <ul>
              <li><el-radio class="radio" label="needVerify">需要验证</el-radio></li>
              <li><el-radio class="radio" label="noVerify">不需要验证</el-radio></li>
              <li><el-radio class="radio" label="rejectAll">禁止任何人加入</el-radio></li>
            </ul>
          </el-radio-group>
        </div>
        <div class="team-beInviteMode">
          <div class="info-label"><strong>被邀请模式</strong></div>
          <el-radio-group v-model="teamSettings.beInviteMode" @change="teamSettingsOnChange($event, 'beInviteMode')">
            <ul>
              <li><el-radio class="radio" label="noVerify">不需要邀请方同意</el-radio></li>
              <li><el-radio class="radio" label="needVerify">需要邀请方同意</el-radio></li>
            </ul>
          </el-radio-group>
        </div>
        <div class="team-inviteMode">
          <div class="info-label"><strong>邀请模式</strong></div>
          <el-radio-group v-model="teamSettings.inviteMode" @change="teamSettingsOnChange($event, 'inviteMode')">
            <ul>
              <li><el-radio class="radio" label="all">所有人可以邀请他人入群</el-radio></li>
              <li><el-radio class="radio" label="manager">只有管理员/群主可以邀请他人入群</el-radio></li>
            </ul>
          </el-radio-group>
        </div>
        <div class="team-updateTeamMode">
          <div class="info-label"><strong>信息修改权限</strong></div>
          <el-radio-group v-model="teamSettings.updateTeamMode" @change="teamSettingsOnChange($event, 'updateTeamMode')">
            <ul>
              <li><el-radio class="radio" label="all">所有人可以修改</el-radio></li>
              <li><el-radio class="radio" label="manager">只有管理员/群主可以修改</el-radio></li>
            </ul>
          </el-radio-group>
        </div>
      </div>
      <!-- <pre> {{ teams[`team-${currentTeam.teamId}`] }} </pre> -->
    </div>
  </template>

  <el-dialog v-model="profileDialogVisible" size="small" v-if="currentUserId">
    <user-profile :userId="currentUserId"></user-profile>
  </el-dialog>
</div>