.team-profile {
  margin-top: 100px;
}

.team-profile a {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.team-profile .avatar-wrap img {
  border-radius: 100%;
}

.team-profile a:hover {
  color: #303030;
}

.team-profile-info {
  color: #404040;
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 50px;
}

.team-profile-info p {
  margin-bottom: 10px;
  padding-bottom: 10px;
  line-height: 100%;
  border-bottom: #e0e0e0 solid 1px;
}

.team-profile-info .info-label {
  color: #888;
  display: inline-block;
  min-width: 80px;
  float: left;
}

.team-profile-info .info-content {
  white-space: nowrap;
  display: inline-block;
  max-width: 196px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.team-profile-info .address {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-view-members {
  color: #003A95;
}

.btn-team-settings {
  position: absolute;
  right: 20px;
  top: 20px;
}

.team-settings-container {
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
}

.team-settings-container .info-label {
  display: block;
  float: none;
}

.team-settings-container ul {
  margin: 0;
  padding: 0;
}

.team-settings-container ul li {
  list-style: none;
}