<div class="cham-menu subnav" v-if="chamId">
  <router-link :to="{ name: 'cham.index', params: { chamId: chamId } }" exact>商会名片</router-link>
  <router-link :to="{ name: 'cham.about', params: { chamId: chamId } }" exact>商会简介</router-link>
  <router-link :to="{ name: 'cham.companies.list', params: { chamId: chamId } }" exact>成员列表</router-link>
  <router-link :to="{ name: 'cham.recommend.list', params: { chamId: chamId } }" exact>推荐企业</router-link>
  <router-link :to="{ name: 'cham.site.list', params: { chamId: chamId } }" exact>品牌企业</router-link>
  <router-link :to="{ name: 'cham.apply.list', params: { chamId: chamId } }" exact v-if="isMyCham">申请管理</router-link>
  <router-link :to="{ name: 'cham.apply.new'}" exact v-else>入会申请</router-link>
  <router-link :to="{ name: 'cham.article.list', params: { chamId: chamId } }" exact>商会资讯</router-link>
  <router-link :to="{ name: 'cham.annual.list', params: { chamId: chamId } }" exact v-if="isMyCham">年度总结</router-link>
  <router-link :to="{ name: 'cham.notice.list', params: { chamId: chamId } }" exact>通知公告</router-link>
  <!-- <router-link :to="{ name: 'cham.badrecord.list', params: { chamId: chamId } }" exact v-if="isMyCham">不良记录</router-link> -->
  <router-link :to="{ name: 'cham.suggest.list', params: { chamId: chamId } }" exact>意见反馈</router-link>
</div>
