.company-list-grid{
  border: 1px solid #e2e2e2;
  border-bottom: none;
  overflow: hidden;
  padding: 15px;
  padding-bottom: 0;
}
.grid-item{
  border: 1px solid #efefef;
  border-right: none;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
}
.grid-item:last-child,.grid-item:nth-child(4n){
  border-right: 1px solid #efefef;
}
.profileCard {
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.profileCard-bg {
  background-color: #d1d7e5;
  border-bottom: 1px solid #e1e8ed;
  display: block;
  height: 95px;
  overflow: hidden;
  position: relative;
  border-radius: 4px 4px 0 0;
  background-position: 0 50%;
}

.profileCard-bg img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.6);
  -ms-transform: translate3d(-50%, -50%, 0) scale(1.6);
  -o-transform: translate3d(-50%, -50%, 0) scale(1.6);
  transform: translate3d(-50%, -50%, 0) scale(1.6);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.profileCard-avatarLink {
  border-radius: 6px;
  display: inline-block;
  width: 76px;
  height: 76px;
  overflow: hidden;
  margin: -45px 2px 0 -3px;
  position: relative;
  vertical-align: bottom;
  z-index: 1;
}

.profileCard-location {
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  display: block;
  font-size: 14px;
}

.profileCard-meta {
  color: #909090;
  max-width: 100%;
  height: 44px;
  font-size: 14px;
  overflow: hidden;
  position:relative;
}

.profileCard-meta span{
  position:absolute;
  top: 0;
  left: 0;
}

.profileCard-meta strong{
  margin-left: 70px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 44px;
  line-height: 22px;
}

.profileCard-content {
  margin: 13px 15px;
  position: relative;
}

.profileCard-userFields {
    color: #606060;
    margin-top: 12px;
    width: 100%;
    /*height: 148px;*/
}

.profileName-wrap {
  color: #000;
  font-size: 15px;
}

.dropdown-menu{
  padding: 0;
}

.cham-category{
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.profileName-wrap .profileName strong {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileName-wrap .profileName .icon {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 4px;
  color: #fff;
  background-color: #808080;
  border-radius: 3px;
  font-size: 14px;
  float: left;
  margin-right: 4px;
}

.profileCard-meta strong{
  color:#333333
}

.profileName-wrap .profileName .icon-corp {
  background-color: #3d4e9e;
}

.profileName-wrap .profileName .icon-store {
  background-color: #782ff2;
}

.profileName-wrap .profileName .icon-verified {
  background-color: #ff0906;
}

.profileName-wrap i.fc-icon {
  font-size: 16px;
  margin-top: -10px;
}

.profileCard .profileName-wrap .btn {
  margin-top: -4px;
}

.foot-cz{
  position: relative;
  height: 52px;
  overflow: hidden;
  margin-top: 8px;
}

.sort{
  position: absolute;
  right: 0px;
  bottom:10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 30px;
  cursor: move;
}

.sort i{
  font-size: 18px;
  font-weight: 400;
}

.recomicon{
  position: absolute;
  top: 0px;
  left: 86px;
}

.updateVMemberTypeForm .el-form-item{
  margin-bottom: 10px;
}

.dialog-footer{
  text-align: right;
  margin-top: 20px;
}

.card-logo{
  overflow: hidden;
  border-radius: 6px;
  display: inline-block;
  width: 76px;
  height: 76px;
  overflow: hidden;
  margin: -45px 2px 0 -3px;
  position: relative;
  vertical-align: bottom;
  z-index: 1;
}

.card-logo .editor-mask{
  opacity:0;
  position:absolute;
  width: 76px;
  height: 76px;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,.5);
  color:#ffffff;
  text-align: center;
  transition: all ease-in-out .5s;
}

.card-logo .editor-mask:hover{
  opacity:1
}

.card-logo span{
    height: 30px;
    line-height: 30px;
    display:block;
    margin: 8px auto;
}
