@import '~@/assets/scss/foundation';

.topic-reply-form {
  width: 100%;

  .el-form-item {
    margin-bottom: 12px;
  }

  .fr-toolbar {
    box-shadow: none !important;
    border: #e0e0e0 solid 1px;
  }

  .fr-box.fr-basic {
    .fr-wrapper {
      border: #e0e0e0 solid 1px;
      border-top: 0 none;
      box-shadow: none !important;
    }
  }
}