@import '~@/assets/scss/settings';
$bgeeeeee:#eeeeee;
$basefont:14px;
$color1:#606060;
$color2:#e03e3e;
$color3:#000000;
$fontweight:bold;

.header{
  .row{
    min-width: 990px;
  }
  .topbox{
    min-height: 40px;
    line-height: 40px;
    background-color:$bgeeeeee;
    font-size: $basefont;
    color:$color1;
    overflow: hidden;
    .toptool{
      span{
        margin-left: 15px;
      }
      .login{
        a{
          color:$color3;
          font-weight: $fontweight;
          margin-left: 5px;
        }
      }
      .rediget{
        a{
          color:$color2;
        }
      }
      .service{
        em{font-style: normal;}
      }
    }
  }

  .headerbox{
    height: 100px;
    .logo{
      height: 70px;
      margin: 15px 0;
      .logotext{
        font-size: 30px;
        display: block;
        height: 70px;
        line-height: 70px;
        overflow: hidden;
        color:#E03E3E
      }
    }
    .search{
      height: 40px;
      margin: 30px 0;
      .input-group-label{
        background-color: #fafafa;
        border: 1px solid #d8d8d8;
        color:#95989a;
        width: 100px;
        text-align: center;
        justify-content: center;
      }
      .input-group-field{
        border: 1px solid #d8d8d8;
        border-left: none;
        border-right: none;
        color:#95989a;
        line-height: 22px;
        box-shadow: none;
      }
      .button{
        background-color: #eeeeee;
        border: 1px solid #d8d8d8;
        color:#95989a;
        width: 100px;
        outline: none;
      }
    }
  }
}
