<div id="navbar" class="hide-for-small-only">
  <div class="row">
      <div class="small-9 columns">
        <ul class="navbar-nav">
          <li>
            <a :class="{'active': routeRoot == 'chamber'}">
              <span>首 页</span>
            </a>
          </li>
          <li>
            <a :class="{'active': routeRoot == 'stream'}">
              <span>商会简介</span>
            </a>
          </li>
          <li>
            <a :class="{'active': routeRoot == 'companies'}">
              <span>商会机构</span>
            </a>
          </li>
          <li>
            <a :class="{'active': routeRoot == 'companies'}">
              <span>新技术</span>
            </a>
          </li>
          <li>
            <a :class="{'active': routeRoot == 'articles'}">法律政策</a>
          </li>
          <li>
            <a :class="{'active': routeName == 'circles.auctions'}">会员专区</a>
          </li>
        </ul>
      </div>
      <div class="small-3 columns text-right">
        <a href="" target="_blank">
          <img src="~@/assets/images/ic_home_membership.png" alt="申请加会" class=""/>
        </a>
      </div>
    </div>
</div>
