<div id="navbar" class="hide-for-small-only">
  <div class="row">
      <div class="small-9 columns">
        <ul class="navbar-nav">
          <li>
            <a @click="goToPage('chamber.index')" :class="{'active': routeRoot == 'index'}">
              <span>首 页</span>
            </a>
          </li>
          <li>
            <a @click="goToPage('chamber.about')" :class="{'active': routeRoot == 'about'}">
              <span>商会简介</span>
            </a>
          </li>
          <li>
            <a @click="goToPage('chamber.organization')" :class="{'active': routeRoot == 'organization'}">
              <span>商会机构</span>
            </a>
          </li>
          <li>
            <a @click="goToPage('chamber.news')" :class="{'active': routeRoot == 'news'}">
              <span>商会资讯</span>
            </a>
          </li>
          <li>
            <a @click="goToPage('chamber.tec')" :class="{'active': routeRoot == 'tec'}">
              <span>新技术</span>
            </a>
          </li>
          <li>
            <a @click="goToPage('chamber.law')" :class="{'active': routeRoot == 'law'}">
              <span>法律政策</span>
            </a>
          </li>
          <li>
            <a @click="goToPage('chamber.member')" :class="{'active': routeName == 'circles.member'}">
              <span>会员专区</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="small-3 columns text-right">
        <a href="" target="_blank" v-if="!auth">
          <img src="~@/assets/images/ic_home_membership.png" alt="申请加会" class=""/>
        </a>
      </div>
    </div>
</div>
