.stream-wrap-main .col-md-6 {
  padding: 0;
}

.stream-wrap-main .el-checkbox {
  margin-bottom: 10px;
}

.stream-wrap-main .el-radio-group .el-radio {
  margin-bottom: 4px;
}

.industry-filter-box {
  margin-bottom: 16px;
}