<div class="cham-companies-manager">
  <div class="manager-hd clearfix">
    <div class="col-sm-12">
      <div class="input-group search-wrap">
        <input
        type="text"
        placeholder="请输入电话号码/用户姓名"
        class="form-control"
        v-model="keyword"
        @keyup.enter="searchMember">
        <span class="input-group-btn">
          <button
            class="btn btn-primary padder-lg"
            type="button"
            @click="searchMember">搜索</button>
        </span>
      </div>
    </div>
  </div>
  <div class="manager-bd m-b-md">
    <template v-if="memberList.length">
      <company-search-list :items="memberList" v-on:updateCheckedList="updateCheckedList"></company-search-list>
    </template>
    <template v-else>
      <company-create-new :isVirtual="isVirtual" :searchResultTitle="searchResultTitle" v-on:managerUpdate="closeDialog" ref="companycreatenew"></company-create-new>
    </template>
  </div>
  <div class="manager-ft clearfix" v-if="checkedListKeys.length">
    <div class="col-sm-12">
      <button class="btn btn-primary pull-right m-l-sm" @click="addCompaniesToCham">添加到我的商会</button>
      <button class="btn btn-default pull-right" @click="closeDialog">取消</button>
    </div>
  </div>
</div>
