<div class="comment-form">
  <el-form ref="commentForm" :model="commentForm" :rules="rules">
    <el-form-item prop="content" required>
      <froala id="froala-editor" :tag="'textarea'" :config="config" v-model="commentForm.content" ref="froala"></froala>
    </el-form-item>
    <el-form-item label="上传附件">
      <el-upload
        action="//up.qbox.me/"
        list-type="picture-card"
        :multiple="true"
        :show-file-list="true"
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
        :on-remove="handleRemove"
        :data="coverEditor.enclosure"
        :on-change="handleChange"
        ref="fileUploader"
        :file-list="fileList1"
        >
        <!-- <el-button size="small" type="default">点击上传</el-button> -->
        <i class="el-icon-plus"></i>
        <div slot="tip" class="el-upload__tip">上传附件只能是jpg或png的图片格式，且大小不超过2M</div>
      </el-upload>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" class="pull-right" @click="editComment" v-if="commentForm.shareId">修改分享评论</el-button>
      <el-button type="primary" class="pull-right" @click="addComment" v-else>发表分享评论</el-button>
    </el-form-item>
  </el-form>
</div>
