.message-flow-out {
    float: right;
    margin-right: 12px;
}

.message-flow-in {
    float: left;
    margin-left: 12px;
}

.message-friend-request {
  width: 460px;
}

.message-enployee-request {
  width: 380px;
}

.message-company-card {
  width: 380px;
}

.message-auction-card {
  width: 380px;
}

.message-friends-card {
  width: 380px;
}

.message-link-card {
  width: 380px;

  .title {
    a {
      display: -webkit-box;
      max-width: 100%;
      height: 18px;
      margin: 0 auto;
      font-size: 14px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .url {
    display: -webkit-box;
    max-width: 70%;
    height: 18px;
    margin: 0 auto;
    font-size: 14px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.message-work-task-card {
  width: 420px;

  p {
    padding-right: 15px;
  }
}

.message-sys-notify-card {
  width: 420px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}