<div class="home-biddings-panel panel">
  <div class="panel-heading">
    <h4>求购</h4>
  </div>
  <div class="panel-body">
    <template v-for="group in biddingsListGroup">
      <div class="row">
        <template v-for="item in group">
          <div class="col-sm-3">
            <div class="bidding-item" v-if="item.Id">
              <div class="bidding-item-inner">
                <div class="bidding-item-header wrapper-xs clearfix m-b-sm">
                  <div class="item-cover">
                    <template v-if="item.Images.length">
                      <router-link :to="{ name: 'circles.biddings.detail', params: { id: item.Id } }"><img v-lazy="formatSrc(item.Images[0].ImgUri)" alt=""></router-link>
                    </template>
                  </div>
                  <div class="item-info">
                    <p class="title"><router-link :to="{ name: 'circles.biddings.detail', params: { id: item.Id } }"><strong>{{ item.Title }}</strong></router-link></p>
                    <p class="qty"><span class="label-name">数量：</span> <span>{{ item.Qty }}</span>  <span class="unit">{{ item.Unit }}</span> <span class="label-name">类型：</span> <span>{{ item.ProductionType }}</span></p>
                    <p class="quoted-price"><span class="label-name">意向单价：</span> <strong>{{ formatPrice(item.QuotedPrice) }}</strong> <span class="unit">元</span></p>
                    <p class="delivery-time"><span class="label-name">交货时间：</span> <span>{{ formatDate(item.DeliveryTime) }}</span></p>
                    <p class="end-time"><span class="label-name">距离结束：</span> 
                      <template v-if="!item.CloseTime">
                        <span class="end" v-if="isEnded(item.EndTime)">已结束</span>
                        <vue-countdown-2 :deadline="item.EndTime" v-if="!isEnded(item.EndTime)"></vue-countdown-2>
                      </template>
                      <template v-else>
                        <span class="end">已结束</span>
                      </template>
                    </p>
                    <p class="detail-link">
                      <router-link :to="{ name: 'circles.biddings.detail', params: { id: item.Id } }"><i class="fa fa-arrow-circle-right"></i> 查看详情</router-link>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </template>
  </div>
  <div class="panel-footer">
    <router-link :to="{ name: 'circles.biddings' }" class="btn btn-block btn-dark btn-more">
      查看更多
    </router-link>
  </div>
</div>