@import '~@/assets/scss/foundation';

.home-biddings-panel {
  .panel-heading {
    height: 40px;
    border-bottom: #F0F0F0 solid 1px;

    h4 {
      color: #000;
      margin: 0;
      font-size: 16px;
    }
  }

  .panel-body {
    min-height: 630px;
  }

  .panel-footer {
    border-top: 0 none;
    margin-top: 0;
    padding: 0 15px 20px;

    .btn-dark {
      color: $primary-color !important;
      background-color: #E2E9F4;
      border-color: #E2E9F4;
      transition: all 0.3s ease;

      &:hover {
        background-color: scale-color(#E2E9F4, $lightness: -5%);
        border-color: scale-color(#E2E9F4, $lightness: -5%);
      }
    }
  }

  .panel {
    box-shadow: none;
  }

  .el-tabs__header {
    position: absolute;
    top: 0;
    left: 178px;
    margin: 0;
    border-bottom: 0 none;
  }
}

.bidding-item .item-cover {
  width: 50%;
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.bidding-item .item-cover::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 80%;
}

.bidding-item .item-cover img {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bidding-item .item-info {
  width: 100%;
}

.bidding-item .end-time time {
  color: green;
}

.bidding-item .end-time .end {
  color: red;
}

.bidding-item .item-info .detail-link a {
  display: inline-block;
  margin-right: 8px;
}

.bidding-item .item-info .detail-link a:hover {
  text-decoration: underline;
}

.bidding-item .item-info .btn-delete {
  position: absolute;
  right: 5px;
  top: 5px;
}