<div class="latest-companies-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h4>辅城热门商户</h4>
      </div>
      <div class="col-sm-10">
        <swiper :options="latestCompanyOptions" ref="latestCompanySwiper">
          <swiper-slide v-for="item in latestCompanySwiperItems" :key="item.Id">
            <router-link :to="{ name: 'company.profile', params: { id: item.Id } }">
              <span>{{ item.BrandName }}</span>
            </router-link>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</div>