.cham-companies-wrap {
  padding-top: 15px;
  position: relative;

  .infinite-loading-container{
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
  }

  .searchbox{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
  }

  .noresult{
    border: 1px solid #f1f1f1;
    border-bottom: none;
    padding: 50px;
    text-align: center;
  }

  .btnbox{
    position:relative;
    // height: 50px;
    background-color: #fff;
    margin-bottom: 10px;
    .chamtypelist{
      border: 1px solid #f1f1f1;
      margin-bottom:15px;
    }
  }
  .btn-add-new {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .backtop{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 3px;
    transition: all ease-in-out .5s;
    color:#333333;
    &:hover{
      opacity: 0.8;
      background-color: #f5f5f5;
    }
  }
}
