.company-product-swiper {
  display: block;
  width: 100%;
}

.company-product-swiper .swiper-slide {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.company-product-swiper .swiper-slide .placeholder {
  content: '';
  display: block;
  width: 100%;
  padding-top: 90%;
}

.company-product-swiper .swiper-slide img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.company-product-swiper .product-sn {
  position: absolute;
  top: 16px;
  left: 26px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 3px 12px;
}

.company-product-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.4;
}

.company-product-swiper .swiper-pagination-bullet-active {
  background-color: #00A0E9;
  opacity: 0.8;
}