<div class="panel no-border">
  <ul class="list-group list-group-lg m-b-none">
    <li class="list-group-item clear" v-for="item in employees">
        <a href="" class="thumb-sm m-r pull-left">
          <template v-if="item.UserId">
            <avatar :src="item.User.PortraitUrl" :size="80"></avatar>
          </template>
          <template v-else>
            <avatar :src="null" :size="80"></avatar>
          </template>
        </a>

        <template v-if="item.UserId !== userId">
          <template v-if="item.RelationshipOfUs === 0">
            <el-button class="pull-right btn-success" size="medium" type="primary" @click="applyRequest(item)">
              <i class="fa fa-check-square"></i>
              <span>通过验证</span>
            </el-button>
          </template>
          <template v-else-if="item.RelationshipOfUs === 1">
            <el-button class="pull-right btn-info" size="medium" type="primary" disabled>
              <span>等待通过</span>
            </el-button>
          </template>
          <template v-else-if="item.RelationshipOfUs === 2">
            <el-button class="pull-right btn-default" size="medium" type="primary">
              <span>已通过</span>
            </el-button>
          </template>
        </template>

        <span class="clear">
          <template v-if="item.CompanyId">
            <span>{{ item.Name }}</span>
            <br>
            <span class="job-title">{{ item.Company.BrandName }}·{{ item.JobTitle }}</span>
          </template>
          <template v-else>
            <span>{{ item.User.RealName }}</span>
            <br>
            <span>个人</span>
          </template>
        </span>
    </li>
  </ul>
</div>
