@import '~@/assets/scss/foundation';

.mall-topics-list {
  background-color: #fff;
  padding: 16px;

  .topic-item {
    margin-bottom: 16px;

    a {
      display: block;
      padding: 16px 0 10px;
      border-bottom: 1px solid #e6e8eb;

      &:hover {
        background-color: #f6f6f6;
      }

      .col-sm-12 {
        padding: 0;
      }

      .item-cover-wrap {
        padding-right: 16px;
      }

      .item-info-wrap {
        padding-right: 20px;
        position: relative;
      }
    }

    h3 {
      font-size: 18px;
      margin: 4px 0 12px;
    }

    .metas {
      margin-bottom: 16px;

      span {
        display: inline-block;
        margin-right: 8px;
      }
    }

    .cover {
      display: block;
      position: relative;
      overflow: hidden;
      -webkit-background-size: cover;
      background-size: cover;
      margin-bottom: rem-calc(6);

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 62.5%;
      }
    }
  }
}
