<div class="mall-topics-list">
  <div class="topic-item" v-for="item in list" :key="item.id">
    <router-link :to="{ name: 'mall.topic.entry', params: { topicId: item.id } }" class="clearfix">
      <div class="col-sm-12 col-md-3 item-cover-wrap" v-if="item.images">
          <span class="cover" v-lazy:background-image="item.images.url"></span>
      </div>
      <div class="col-sm-12 col-md-9 item-info-wrap">
        <div class="item-info">
          <h3>{{item.abstractContent}}</h3>
          <p class="metas"><span class="read-count">{{ item.readCount }} 阅读</span> <span class="comment-count">{{ item.commentCount }} 评论</span></p>
          <timeago :since="item.createTime * 1000"></timeago>
        </div>
      </div>
    </router-link>
  </div>
</div>
