<div class="cham-article-entry" v-if="entry.id">
  <div class="row">
  <div class="small-8 columns">
    <div class="breadcrumbbox">
      <ul class="breadcrumb">
        <li>通告</li>
        <li class="active">{{ entry.title }}</li>
      </ul>
    </div>

    <div class="article-entry">
      <div class="entry-hd">
        <h3>{{ entry.title }}</h3>
        <p>发布时间：<timeago :since="entry.createTime * 1000"></timeago></p>
      </div>
      <div class="entry-bd">
        <div class="entry-content" v-html="entry.content"></div>
      </div>
    </div>
  </div>
  <div class="small-4 columns none-padding-left">
    <div class="article-entry-aside">
      <div class="aside-hd">
        <i></i>
        最新-通告
      </div>
      <div class="aside-bd">
        <ul class="latest-news">
          <li v-for="item in latestList">
            <router-link :to="{ name: 'chamber.noticedetail', params: { entryId: item.id } }" class="clearfix" :title="item.title">
              <span class="title">{{ item.title }}</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>
