<div id="footer">
  <div class="row footbox">
    <!-- <div class="small-10 small-offset-1 columns">
      <div class="firendlink">
        <h3>友情链接：</h3>
        <div class="list">
          <ul class="no-bullet">
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
            <li>
              <a href="#" target="_blank">中国服装协会</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="helpbox">
        <div class="small-8 columns none-padding">
          <div class="small-4 columns none-padding">
            <dl>
              <dt>帮助中心</dt>
              <dd><a href="#" target="_blank">人工客服</a></dd>
              <dd><a href="#" target="_blank">友情链接合作</a></dd>
              <dd><a href="#" target="_blank">如何加入商会</a></dd>
            </dl>
          </div>
          <div class="small-4 columns none-padding">
            <dl>
              <dt>关于我们</dt>
              <dd><a href="#" target="_blank">了解我们</a></dd>
              <dd><a href="#" target="_blank">联系方式</a></dd>
              <dd><a href="#" target="_blank">商会福利</a></dd>
            </dl>
          </div>
          <div class="small-4 columns none-padding">
            <dl>
              <dt>扫码关注</dt>
              <dd><img src="~@/assets/images/ic_home_erweima.png" alt="" class="erweima"></dd>
            </dl>
          </div>
        </div>
        <div class="small-4 columns contact none-padding">
          <p>400-800-123456</p>
          <span class="radius"><i></i> 24小时在线客服</span>
        </div>
      </div>
    </div> -->
    <p>闽ICP备15015721号-1  |  微信公众号：FCCNCC  |  客服电话：4008070666</p>
    <p>本网站所有内容均受版权保护。未经版权所有人--福建省辅城网络科技有限公司 明确的书面许可，任何机构和个人不得以任何方式翻印、转载或用于商业用途。</p>
  </div>
  <div class="copyright">
    <div class="row">
      <span>Copyright 2017 福建省辅城网络科技有限公司 版权所有</span>
    </div>
  </div>
</div>
