@import '~@/assets/scss/settings';
#footer{
  background-color: #333333;
  border-top: 4px solid #E03E3E;
  overflow: hidden;
  .none-padding{
    padding: 0px !important;
  }
  .footbox{
    // 新增
    padding: 20px;
    p{
      color:rgba(255,255,255,0.6);
      font-size: 14px;
      margin: 10px auto;
    }
    // 新增
    overflow: hidden;
    color:#ffffff;
    a{
      color:rgba(255,255,255,0.8);
      &:hover{
        color:rgba(255,255,255,1);
      }
    }
    .firendlink{
      margin: 20px auto;
      h3{
        font-size: rem-calc(18);
      }
      .list{
        overflow: hidden;
        li{
          font-size: rem-calc(14);
          float: left;
          &:after{
            content:"|";
            display: inline-block;
            vertical-align: top;
            font-size: rem-calc(12);
            margin: 3.5px 10px;
          }
          &:last-child:after{
            display: none;
          }
        }
      }
    }
    .helpbox{
      dt{
        font-size: rem-calc(16);
        margin-bottom: 10px;
        font-weight: 400;
      }
      dd{
        font-size: rem-calc(14);
        line-height: 28px;
      }
      .erweima{
        width: 73px;
        height: 73px;
        vertical-align: top;
        margin-top: 5px;
      }
      .contact{
        border-left: 1px solid rgba(255,255,255,0.6);
        text-align: center;
        p{
          font-size: rem-calc(24);
          font-weight: bold;
        }
        span{
          display: block;
          border: 1px solid rgba(255,255,255,0.8);
          width: 220px;
          height: 47px;
          line-height: 47px;
          margin: 0 auto;
          border-radius: 10px;
          font-size: rem-calc(20);
          i{
            width: 23px;
            height: 23px;
            background:url(~@/assets/images/ic_home_telicon.png) center center no-repeat;
            display: inline-block;
            vertical-align: top;
            margin: 12px;
          }
        }
      }
    }
  }

  .copyright{
    background-color: #292828;
    text-align: center;
    height: 40px;
    line-height: 40px;
    span{
      color:rgba(255,255,255,0.6);
      font-size: rem-calc(14);
    }
  }
}
