<div class="company-list-grid">
  <div class="grid-item col-sm-6 col-md-3 wrapper-xs" v-for="item in items" :key="item.Id">
    <div class="grid-item-bd">
      <div class="profileCard">
        <router-link :to="{ name: 'company.profile', params: { id: item.Id } }" class="profileCard-bg">
          <template v-if="formatCardBg(item)">
            <img v-lazy="formatCardBg(item)" alt=""/>
          </template>
        </router-link>
        <div class="profileCard-content">
          <router-link :to="{ name: 'company.profile', params: { id: item.Id } }" class="profileCard-avatarLink">
            <avatar :src="item.LogoUrl" :size="152" class="profileCard-avatarImage" mode="logo"></avatar>
          </router-link>
          <div class="profileCard-userFields">
              <div class="profileName-wrap clearfix m-b-xs">
                  <router-link :to="{ name: 'company.profile', params: { id: item.Id } }" class="profileName pull-left">
                    <template v-if="item.VerifyStatus == 1">
                      <span class="icon icon-corp" v-if="!item.NotAllPass">企</span>
                      <span class="icon icon-store" v-else>商</span>
                      <span class="icon icon-verified">证</span>
                    </template>
                    <template v-else>
                      <span class="icon icon-default">商</span>
                    </template>
                    <strong>{{ item.BrandName }}</strong>
                  </router-link>
                  <template v-if="item.OwnerId !== userId">
                    <button
                      v-if="item.OwnerId"
                      class="btn btn-info btn-sm pull-right"
                      @click="addFriend(item.Id);">
                      <i class="fa fa-plus-square"></i>
                      <span>加为好友</span>
                    </button>
                    <button
                      v-else
                      class="btn btn-info btn-sm pull-right"
                      @click="addFaviourite(item.Id)">
                      <i class="fa fa-plus-square"></i>
                      <span>加入收藏</span>
                    </button>
                  </template>
                  <template v-else>
                    <router-link :to="{ name: 'company.profile', params: { id: item.Id } }" class="btn btn-info btn-sm pull-right">
                      <i class="fa fa-edit"></i> <span>编辑公司</span>
                    </router-link>
                  </template>
              </div>
              <div class="profileCard-location m-b-sm">
                <img src="~@/assets/svg/company/icon_shop.svg" width="40" v-if="item.HasProducts"/>
                <span>{{ item.ResidentProvince }} {{ item.ResidentCity }} {{ item.ResidentArea }}</span>
              </div>
              <div class="profileCard-meta">
                <span v-if="item.AboutUs"> {{ item.AboutUs }} </span>
                <span v-else>{{ item.Address }}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <el-dialog title="添加好友" v-model="addFriendDialogVisible" size="tiny">
    <template v-if="currentCompanyEmployees.length">
      <employee-list-group :employees="currentCompanyEmployees"></employee-list-group>
    </template>
  </el-dialog>

  <el-dialog title="欢迎来到辅城，请先登录" v-model="loginDialogVisible" size="tiny">
    <login-dialog-form></login-dialog-form>
  </el-dialog>
</div>
