<div class="grid-item col-sm-6 col-md-3 wrapper-xs">
  <div class="grid-item-bd">
    <div class="companyCard">
      <a class="companyCard-bg" :href="`/company/${item.RelObj.Id}/profile`" target="_blank">
        <template v-if="formatCardBg(item.RelObj)">
          <img v-lazy="formatCardBg(item.RelObj)" alt=""/>
        </template>
      </a>
      <div class="companyCard-content">
        <a 
          class="companyCard-avatarLink" 
          :title="item.RelObj.Name" 
          :href="`/company/${item.RelObj.Id}/profile`" target="_blank">
          <avatar :src="item.RelObj.LogoUrl" :size="152" class="companyCard-avatarImage"></avatar>
        </a>
        <div class="companyCard-userFields">
            <div class="profileName-wrap clearfix m-b-xs">
                <a class="profileName pull-left" :href="`/company/${item.RelObj.Id}/profile`" target="_blank">
                  <template v-if="item.RelObj.VerifyStatus == 1">
                    <span class="icon icon-corp" v-if="!item.RelObj.NotAllPass">企</span>
                    <span class="icon icon-store" v-else>商</span>
                    <span class="icon icon-verified">证</span>
                  </template>
                  <template v-else>
                    <span class="icon icon-default">商</span>
                  </template>
                  <strong>{{ item.RelObj.BrandName }}</strong>
                </a>
                <el-dropdown class="btn-group dropdown pull-right" trigger="click">
                  <el-button type="primary" size="small">
                    关注设置 <i class="fa fa-caret-down"></i>
                  </el-button>

                  <el-dropdown-menu slot="dropdown" class="follow-config-dropdown">
                    <el-checkbox-group v-model="checkedTypes" @change="handleCheckedTypesChange">
                      <el-checkbox class="type-item" v-for="typeItem in types.Company.ItemTypes" :label="typeItem.Code" :key="typeItem.Code">{{ typeItem.Name }}</el-checkbox>
                    </el-checkbox-group>
                    <el-checkbox class="type-item" :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                  </el-dropdown-menu>

                </el-dropdown>
            </div>
            <span class="companyCard-location m-b-sm">{{ item.RelObj.ResidentProvince }} {{ item.RelObj.ResidentCity }} {{ item.RelObj.ResidentArea }}</span>
            <p class="companyCard-meta" v-if="item.RelObj.AboutUs"> {{ item.RelObj.AboutUs }} </p>
            <p class="companyCard-meta" v-else>{{ item.RelObj.Address }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
