<div class="task-detail">
  <template v-if="taskLoaded">
    <template v-if="task.Id">
      <div class="detail-hd">
        <template v-if="task.ParentId">
          <router-link :to="{ name: 'worktasks.entry', params: { taskId: task.ParentId } }" class="btn btn-default m-b-sm">返回父级任务</router-link>
        </template>
        <div class="main-task-panel panel b-a">
          <div class="panel-heading"><strong>工作任务</strong></div>
          <div class="panel-body no-padder">
            <div class="list-group">
              <a class="list-group-item"><span :class="`task-state task-state-${task.State}`">{{ formatWorkTaskState(task.State) }}</span> {{ task.Title }}</a>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <a class="btn btn-default" v-if="!task.RemindTime"><i class="fa fa-bell"></i> 添加提醒</a>
            
            <div class="btn-group dropdown pull-right" dropdown>
              <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i> 更改状态 <b class="caret"></b>
              </button>
              <ul class="dropdown-menu w">
                <li><a @click="updateTaskState(10)">进行中</a></li>
                <li><a @click="updateTaskState(100)">已完成</a></li>
              </ul>
            </div>
            <a class="btn btn-default pull-right m-r-sm"><i class="fa fa-list-alt"></i> 工作汇报</a>
          </div>
        </div>
      </div>
      <div class="detail-bd">
        <div class="panel b-a">
          <div class="task-handler hbox b-b b-light">          
            <div class="col b-r b-light" @click="sessionWith(task.Sender.AccId)">
              <span class="col-label">工作创建者</span>
              <span class="task-sender">
                <avatar :src="task.Sender.User.PortraitUrl" :size="60" class="r r-2x" v-if="task.Sender.User"></avatar>
                <avatar :src="null" :size="60" class="r r-2x" v-else></avatar>
                <span class="task-sender-name">{{ task.Sender.Name }} <i class="fa fa-comments-o"></i>  </span>
              </span>
            </div>
            <div class="col b-r b-light task-dueTime-col" :class="{'cursor-not-allowed': !isSender(task.SenderId)}">
              <span class="col-label">截止时间</span>
              <a>
                <i class="fa fa-calendar-check-o"></i> 
                <span class="task-dueTime" :class="{'task-timeout': task.IsDueTimeout}">
                  <el-date-picker
                    v-model="taskDueTime"
                    type="datetime"
                    placeholder="选择日期时间"
                    @change="updateTaskDueTime">
                  </el-date-picker>
                </span>
              </a>
            </div>
            <div class="col" :class="{'cursor-not-allowed': !isSender(task.SenderId)}">
              <span class="col-label">优先级</span>
              <div class="btn-group dropdown" dropdown>
                <a data-toggle="dropdown" aria-expanded="false">
                  <span class="task-priority" :class="`task-priority-${task.Priority}`"><i class="fa fa-circle-o"></i>  {{ formatWorkTaskPriority(task.Priority) }}</span>
                </a>
                <ul class="dropdown-menu w" v-if="isSender(task.SenderId)">
                  <li><a class="btn btn-block text-left" @click="updateTaskPriority(0)">普通</a></li>
                  <li><a class="btn btn-block text-left" @click="updateTaskPriority(10)">紧急</a></li>
                  <li><a class="btn btn-block text-left" @click="updateTaskPriority(100)">非常紧急</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel b-a">
          <div class="panel-heading m-b-n">执行者</div>
          <div class="panel-body">
            <div class="task-executor-list clearfix">
              <div class="task-executor clearfix" v-for="item in executors[`task-${taskId}`]" :key="item.ExecutorId" @click="sessionWith(item.Executor.AccId)">
                <avatar :src="item.Executor.User.PortraitUrl" :size="60" class="r r-2x" v-if="item.Executor.User"></avatar>
                <avatar :src="null" :size="60" class="r r-2x" v-else></avatar>
                <span class="task-executor-name">{{ item.Executor.Name }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="subtask-panel panel b-a">
          <div class="panel-heading"><strong>工作事项</strong></div>
          <div class="panel-body no-padder">
            <div class="list-group">
              <template v-if="task.SubTaskCount">
                <router-link :to="{ name: 'worktasks.entry', params: { taskId: subTask.Id } }" class="list-group-item" v-for="subTask in task.SubTasks" :key="subTask.Id">
                  <i class="fa fa-chevron-right text-muted"></i>
                  <span class="pull-right m-r-sm">
                    <template v-for="(executor, index) in executors[`task-${subTask.Id}`]">{{ executor.Executor.Name }} <template v-if="index !== executors[`task-${subTask.Id}`].length - 1">、</template></template>
                  </span>
                  <span :class="`task-state task-state-${subTask.State}`">{{ formatWorkTaskState(subTask.State) }}</span>
                  <span class="task-priority" :class="`task-priority-${subTask.Priority}`"><i class="fa fa-circle-o"></i>  {{ formatWorkTaskPriority(subTask.Priority) }}</span>
                  <span>{{ subTask.Title }}</span>
                </router-link>
              </template>
              <template v-else>
                <a class="list-group-item">暂无工作事项</a>
              </template>
            </div>
          </div>
          <div class="panel-footer">
            <a class="btn btn-default"><i class="fa fa-plus"></i> 添加事项</a>
          </div>
        </div>
        <!-- <pre>{{ task }}</pre> -->
      </div>
    </template>
    <template v-else>
      <placeholder text="找不到该任务或已删除"></placeholder>
    </template>
  </template>
</div>