<div class="ad-manager">
  <el-form ref="adFrom" :model="adFrom">
    <el-form-item label="封面">
      <div class="cover-uploader-wrap">
        <el-upload
          class="avatar-uploader"
          :action="uploadUrl"
          :on-success="handleSuccess"
          :before-upload="beforeUpload"
          :data="imageData"
          :show-file-list="false"
          :with-credentials="true"
          ref="imageUploader">
          <template v-if="coverImage.id">
            <img :src="coverImage.url" class="cover-thumb"/>
          </template>
          <template v-else>
            <i class="el-icon-plus avatar-uploader-icon"></i>
          </template>
        </el-upload>
      </div>
    </el-form-item>
    <el-form-item label="链接地址">
      <el-input v-model="adFrom.contentUrl" placeholder="http://"></el-input>
    </el-form-item>
    <el-form-item class="action-row">
      <template v-if="!adId">
        <el-button type="primary" @click="createNew">立即创建</el-button>
      </template>
      <template v-else>
        <el-button type="primary" @click="saveChanges">保存更改</el-button>
      </template>
    </el-form-item>
  </el-form>
</div>