<div class="cham-notice-list">
  <template v-if="list.length">
    <div class="notice-item" v-for="item in list" :key="item.id">
      <router-link :to="{ name:'cham.notice.entry', params: { entryId: item.id } }" class="clearfix">
        <div class="col-sm-12 col-md-12 item-info-wrap">
          <div class="item-info">
            <div class="col-sm-6">
            <h3 class="text-ellipsis">[通知公告] {{ item.title }} <el-tag type="danger" v-if="!item.isPublish">未发布</el-tag></h3>
            </div>
            <div class="col-sm-6 text-right">
              <timeago :since="item.createTime * 1000" class="pull-right"></timeago>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </router-link>
    </div>
  </template>
  <template v-else>
    <div class="notice-null">
      还没有通知公告数据！
    </div>
  </template>
</div>
