.products-grid {
  margin: 0 -10px;
  overflow: hidden;
  padding: 10px 0;
}

.product-grid-item {
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: move;
}

.product-grid-item .item-inner {
  overflow: hidden;
  background-color: #fff;
}

.product-grid-item.dragging .item-inner {
  background-color: #c0c0c0;
}

.product-grid-item .cover {
  position: relative;
  overflow: hidden;
}

.product-grid-item .cover::before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 80%;
}

.product-grid-item .cover img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}

.product-grid-item .info {
  overflow: hidden;
  padding: 6px 12px;
}

.product-grid-item .info h4 {
  width: 88%;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.product-grid-item .cover a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-move-handle {
  position: absolute;
  right: 70px;
  top: 12px;
}

.product-edit-menu {
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 10px;
}

.product-edit-menu .el-dropdown-link {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
}

.product-edit-menu .el-dropdown-link .fa {
  padding: 2px;
}

.el-dropdown-menu__item {
  padding: 0;
}

.el-dropdown-menu__item a {
  display: block;
  padding: 0 10px;
}

.product-grid-item .info {
  position: relative;
}

.product-covers-editor .cover {
  display: inline-block;
  width: 120px;
  padding: 10px;
  background-color: #f0f0f0;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: move;
}

.product-covers-editor .cover.dragging {
  background-color: #c0c0c0;
}

.product-covers-editor .cover.is-index {
  color: #fff;
  background-color: #1a4a94;
}

.product-covers-editor .btn-setIndex {
  display: block;
  text-align: center;
}

.product-covers-editor .product-cover-uploader {
  float: left;
  margin-right: 10px;
  width: 120px;
  height: 130px;
}

.product-cover-uploader .el-upload--picture-card {
  width: 120px !important;
  height: 130px !important;
  border-radius: 0 !important;
  position: relative;
}

.product-cover-uploader .el-upload--picture-card i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}

.product-covers-editor .cover-bg {
  width: 100px;
  height: 80px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-covers-editor .cover-bg .btn-remove {
  position: absolute;
  right: 6px;
  top: 6px;
  background: rgba(0,0,0,0.6);
  border: 0 none;
  padding: 3px 8px;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-covers-editor .cover-bg .btn-remove:hover {
  background: #f05050;
}

.product-covers-editor .cover-bg::before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 100%;
}

.btn-save-productSort {
  position: absolute;
  right: 16px;
  top: -52px;
}

.product-grid-item-create {
  cursor: pointer;
}

.product-grid-item-create .item-inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  border: #c0c0c0 dashed 1px;
}

.product-grid-item-create:hover .item-inner {
  background-color: #f0f0f0;
}

.product-grid-item-create .cover span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 300px;
}