<div class="auction-item" v-if="item.Id">
  <div class="auction-item-inner">
    <div class="auction-item-header wrapper-xs clearfix m-b-sm">
      <div class="item-cover">
        <template v-if="item.Images.length">
          <img v-lazy="item.Images[0].ImgUri" alt="">
        </template>
      </div>
      <div class="item-info">
        <p class="title"><strong>{{ item.Title }}</strong></p>
        <p class="qty"><span class="label-name">数量：</span> <span>{{ item.Qty }}</span> <span class="unit">{{ item.Unit }}</span></p>
        <p class="production-type"><span class="label-name">底价：</span> <span>{{ item.StartPrice }} 元</span></p>
        <p class="currprice" v-if="item.CurrPrice"><span class="label-name">当前供应单价：</span> <strong class="price text-success">{{ formatPrice(item.CurrPrice) }}</strong> <span class="unit">元</span></p>
        <p class="endtime"><span class="label-name">距离结束：</span>
          <template v-if="!item.CloseTime">
            <span class="end" v-if="isEnded(item.EndTime)">已结束</span>
            <vue-countdown-2 :deadline="item.EndTime" v-if="!isEnded(item.EndTime)"></vue-countdown-2>
          </template>
          <template v-else>
            <span class="end">已结束</span>
          </template>
        </p>
        <p class="detail-link">
          <router-link :to="{ name: 'circles.auctions.detail', params: { id: item.Id } }"><i class="fa fa-arrow-circle-right"></i> 查看详情</router-link>
        </p>
      </div>
    </div>
  </div>
</div>