<div class="panel">
  <div class="panel-heading wrapper b-b b-light"><strong>搜索</strong></div>
  <div class="panel-body">
    <div class="wrapper">
      <form class="m-b-md" @submit.prevent="searchFriend">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="按精确手机号码/公司简称/姓名搜索" v-model="keyword">
          <span class="input-group-btn">
            <button class="btn btn-default btn-success padder-lg" type="button" @click="searchFriend">搜索</button>
          </span>
        </div>
      </form>
      <div class="friends-searchResult-list list-group list-group-lg list-group-sp" v-if="searchResult.length">
        <div class="list-group-item clearfix" v-for="item in searchResult" :key="item.Id">
          <span class="pull-left thumb-sm avatar m-r">
            <avatar :src="item.User.PortraitUrl" :size="80" class="img-radius"></avatar>
          </span>
          
          <template v-if="item.RelationshipOfUs === 0">
            <el-button class="pull-right btn-success" type="primary" @click="addFriend(item)">
              <i class="fa fa-plus"></i>
              <span>加为好友</span>
            </el-button>
          </template>
          <template v-else-if="item.RelationshipOfUs === 1">
            <el-button class="pull-right btn-info" type="primary" @click="addFriend(item)">
              <span>等待通过</span>
            </el-button>
          </template>
          <template v-else-if="item.RelationshipOfUs === 2">
            <el-button class="pull-right btn-default" type="primary" disabled>
              <span>已添加</span>
            </el-button>
          </template>

          <template v-if="item.CompanyId">
            <a :href="`/company/${item.CompanyId}/profile`" class="pull-right el-button btn-default m-r-sm" target="_blank">
              <span>公司名片</span>
            </a>
          </template>

          <div class="clear" v-if="item.CompanyId">
            <div><strong>{{ item.Name }}</strong></div>
            <small>{{ item.Company.BrandName }} · {{ item.JobTitle }}</small>
          </div>
          <div class="clear" v-else>
            <div><strong>{{ item.Name }}</strong></div>
            <small>个人用户</small>
          </div>
        </div>
      </div>
      <p v-else>
        <span v-if="searchResultLoaded">暂无结果</span>
      </p>
    </div>
  </div>
</div>