<div class="mall-company-search-list">
  <div class="col-sm-6">
    <div class="company-list">
      <div class="grid-item wrapper-xs clearfix" :class="{'selected': hasChecked(item)}" v-for="item in items" :key="item.Id" @click="toggleToCheckedList(item)">
        <div class="item-logo-wrap pull-left m-r-md">
          <avatar :src="item.LogoUrl" :size="152" class="companyGard-avatarImage" mode="logo"></avatar>
        </div>
        <div class="item-info pull-left">
            <div class="profileName-wrap clearfix m-b-xs">
                <div class="profileName pull-left">
                  <template v-if="item.VerifyStatus == 1">
                    <span class="icon icon-corp" v-if="!item.NotAllPass">企</span>
                    <span class="icon icon-store" v-else>商</span>
                    <span class="icon icon-verified">证</span>
                  </template>
                  <template v-else>
                    <span class="icon icon-default">商</span>
                  </template>
                  <strong>{{ item.BrandName }}</strong>
                </div>
                <i class="icon-checked el-icon-circle-check"></i>
            </div>
            <div class="companyGard-location m-b-sm">
              <img src="~@/assets/svg/company/icon_shop.svg" width="40" v-if="item.HasProducts"/>
              <span>{{ item.ResidentProvince }} {{ item.ResidentCity }} {{ item.ResidentArea }}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="company-list company-checked-list">
      <template v-for="item in checkedList">
        <div class="grid-item wrapper-xs clearfix" :class="{'selected': hasChecked(item)}">
          <div class="item-logo-wrap pull-left m-r-md">
            <!-- <avatar :src="item.LogoUrl" :size="152" class="companyGard-avatarImage" mode="logo"></avatar> -->
            <div class="card-logo" @click="getCompanySelectId(item.Id)">
              <el-upload
                action="//up.qbox.me/"
                :show-file-list="false"
                list-type="picture"
                :on-success="handleLogoUploadSuccess"
                :before-upload="beforeLogoUpload"
                :data="uploadLogoImageData"
                ref="logoImageUploader"
                class="logo-uploader-wrap"
                >
                <template v-if="checkedList[`${item.Id}`].companyLogo">
                  <avatar :src="checkedList[`${item.Id}`].companyLogo" :size="152" class="companyGard-avatarImage" mode="logo"></avatar>
                </template>
                <template v-else>
                  <avatar :src="item.LogoUrl" :size="152" class="companyGard-avatarImage" mode="logo"></avatar>
                </template>
                <div class="editor-mask">
                  <span><i class="fa fa-camera"></i><br>修改LOGO </span>
                </div>
              </el-upload>
            </div>
          </div>
          <div class="item-info pull-left">
              <div class="profileName-wrap clearfix m-b-sm">
                  <div class="profileName pull-left">
                    <template v-if="item.VerifyStatus == 1">
                      <span class="icon icon-corp" v-if="!item.NotAllPass">企</span>
                      <span class="icon icon-store" v-else>商</span>
                      <span class="icon icon-verified">证</span>
                    </template>
                    <template v-else>
                      <span class="icon icon-default">商</span>
                    </template>
                    <strong>{{ item.BrandName }}</strong>
                  </div>
                  <i class="icon-checked el-icon-circle-close" @click="toggleToCheckedList(item)"></i>
              </div>
              <el-input v-model="checkedList[`${item.Id}`].addressDetailInMall" placeholder="请输入在商场中的地址详情"></el-input>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
