@import '~@/assets/scss/foundation';

.mall-company-search-list {
  height: 100%;

  & > div {
    height: 100%;
  }

  .company-list {
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border: #cfdadd solid 1px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .company-checked-list {
    min-height: 50vh;

    .grid-item {
      &.selected {
        .icon-checked {
          color: #808080;
          border-color: transparent;
        }
      }

      .item-info {
        min-width: 240px;
      }
    }
  }

  .card-logo{
    position:relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin: 0 auto;
    .editor-mask{
      opacity:0;
      position:absolute;
      width: 75px;
      height: 75px;
      top: 0;
      left: 0;
      background-color:rgba(0,0,0,.5);
      color:#ffffff;
      text-align: center;
      transition: all ease-in-out .5s;
      &:hover{
        opacity:1
      }
      span{
        height: 30px;
        line-height: 30px;
        display:block;
        margin: 8px auto;
      }
    }
  }

  .grid-item {
    cursor: default;
    position: relative;
    padding-left: 90px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: #cfdadd dashed 1px;

    .item-logo-wrap {
      position: absolute;
      top: 0;
      left: 0;
    }

    .icon-checked {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 20px;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -10px;
      color: transparent;
      border: #c0c0c0 solid 1px;
      border-radius: 100%;
      cursor: pointer;
    }

    &.selected {
      .icon-checked {
        color: $primary-color;
        border-color: transparent;
      }
    }

    .profileName {
      .icon {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 4px;
        color: #fff;
        background-color: #808080;
        border-radius: 3px;
        font-size: 14px;
        float: left;
        margin-right: 4px;
      }
      strong {
        display: inline-block;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .icon-corp {
        background-color: #3d4e9e;
      }
      .icon-store {
        background-color: #782ff2;
      }
      .icon-verified {
        background-color: #ff0906;
      }
    }
  }
}
