<div class="messages-wrap">
  <div class="messages-box" v-chat-scroll="{always: true}">
    <div class="alert alert-warning stranger-alert" role="alert" type="warning" v-if="currentSession.scene == 'p2p' && !isFriend(currentSession.to) && checkNotOfficial(currentSession.lastMsg)">
      <div class="text-center">
        <span v-if="users[currentSession.id]"> 您和【{{ users[currentSession.id].nick }}】暂时还不是好友，点击 <a class="btn btn-success btn-sm m-l-xs" @click="addFriend">添加为好友</a></span>
      </div>
    </div>
    <template v-if="messages">
      <div class="message-item m-b clear" v-for="message in messages" :key="message.idClient">
        <p class="text-center"><small class="text-muted"><i class="fa fa-ok text-success"></i><timeago :since="message.time"></timeago></small></p>
        <template v-if="message.flow == 'in'">
          <a class="pull-left" @click="openUserProfile(message)" v-if="message.type !== 'notification'">
            <template v-if="message.scene == 'p2p'">
              <template v-if="users[sid]">
                <avatar :src="users[sid].avatar" :size="80" class="r r-2x"></avatar>
              </template>
              <template v-else>
                <avatar :src="null" :size="80" class="r r-2x"></avatar>
              </template>
            </template>
            <template v-if="message.scene == 'team' && message.type !== 'notification'">
              <template v-if="users[`p2p-${message.from}`]">
                <avatar :src="users[`p2p-${message.from}`].avatar" :size="80" class="r r-2x"></avatar>
              </template>
              <template v-else>
                <avatar :src="null" :size="80" class="r r-2x"></avatar>
              </template>
            </template>
          </a>
        </template>
        <template v-else>
          <a class="pull-right" @click="openUserProfile(message)" v-if="message.type !== 'notification'">
            <template v-if="users[`p2p-${myAccid}`]">
              <avatar :src="users[`p2p-${myAccid}`].avatar" :size="80" class="r r-2x"></avatar>
            </template>
            <template v-else>
              <avatar :src="null" :size="80" class="r r-2x"></avatar>
            </template>
          </a>
        </template>
        <chat-msg-item class="message-item-content" :class="{'m-l-xxl': message.flow == 'in', 'm-r-xxl': message.flow == 'out'}" :message="message" :gallery="msgImagesGallery" :sid="sid"></chat-msg-item>
      </div>
    </template>
  </div>
  <el-dialog v-model="profileDialogVisible" size="tiny" v-if="currentUserId" :modal-append-to-body="false">
    <user-profile :userId="currentUserId" v-on:close="profileDialogVisible = false"></user-profile>
  </el-dialog>

  <el-dialog title="添加为好友" v-model="addFriendDialogVisible" size="tiny" :modal-append-to-body="false">
    <el-form :model="addFriendFrom">
      <el-input v-model="addFriendFrom.requestMsg" auto-complete="off"></el-input>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="addFriendDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="sendFriendRequest">加为好友</el-button>
    </span>
  </el-dialog>
</div>
