<div class="cham-company-search-list">
    <div class="col-sm-6">
      <div class="company-list">
        <div class="grid-item wrapper-xs clearfix" :class="{'selected': hasChecked(item)}" v-for="item in items" :key="item.Id" @click="toggleToCheckedList(item)">
          <div class="item-logo-wrap pull-left m-r-md">
              <avatar :src="item.PortraitUrl" :size="152" class="companyGard-avatarImage" mode="logo"></avatar>
          </div>
          <div class="item-info pull-left">
              <div class="profileName-wrap clearfix m-b-xs">
                  <div class="profileName pull-left">
                    <strong>{{item.Name}}</strong>
                  </div>
                  <i class="icon-checked el-icon-circle-check"></i>
              </div>
              <div class="companyGard-location">
                <span>职位：{{ item.JobTitle }}</span>
              </div>
              <div class="companyGard-location">
                <span>部门：{{ getDepartmentName(item.CompanyDepartmentId) }}</span>
              </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="company-list company-checked-list">
        <template v-for="item in checkedList">
          <div class="grid-item wrapper-xs clearfix" :class="{'selected': hasChecked(item)}">
            <div class="item-logo-wrap pull-left m-r-md">
                <avatar :src="item.PortraitUrl" :size="152" class="companyGard-avatarImage" mode="logo"></avatar>
            </div>
            <div class="item-info pull-left">
                <div class="profileName-wrap clearfix">
                    <div class="profileName pull-left">
                      <strong>{{item.Name}}</strong>
                    </div>
                    <i class="icon-checked el-icon-circle-close" @click="toggleToCheckedList(item)"></i>
                </div>
                <div class="companyGard-location">
                  <span>职位：{{ item.JobTitle }}</span>
                </div>
                <div class="companyGard-location">
                  <span>部门：{{ getDepartmentName(item.CompanyDepartmentId) }}</span>
                </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
