@import '~@/assets/scss/settings';
#news{
  height: 410px;
  overflow: hidden;
  border-bottom: 3px solid #eeeeee;
  .panel{
    height: 50%;
    border: 3px solid #eeeeee;
    border-bottom: none;
    overflow: hidden;
    .panel-heading{
      height: 40px;
      overflow: hidden;
      margin: 0 16px 0 10px;
      position: relative;
      border-bottom: 1px solid #eeeeee;
      h2{
        font-size: rem-calc(18);
        color:#333333;
        line-height: 40px;
      }
      .more{
        font-size: rem-calc(16);
        color:#606060;
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        line-height: 40px;
      }
    }
    .panel-body{
      height: 164px;
      ul{
        background-color: #fff;
        padding: 10px;
        margin: 0;
        margin-right: 6px;
        min-height: 160px;
        li{
          overflow: hidden;
          height: 50px;
          a{
            color:rgba(221,145,0,.9);
            font-size: rem-calc(15);
            height: 24px;
            line-height: 24px;
            &:hover{
              color:rgba(221,145,0,1);
            }
          }
          p{
            font-size: rem-calc(14);
            margin: 0;
            color:#6c6c6c;
            height: 20px;
            line-height: 20px;
          }
        }
      }
    }
  }

  .vb{
    height: 164px;
    background-color: #f5f5f5;
  }
  .vb-content{
    width: 100%;
  }
  .vb > .vb-dragger{
    z-index: 5;
    width: 6px;
    right: 0;
  }
  .vb > .vb-dragger > .vb-dragger-styler {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: rotate3d(0,0,0,0);
      transform: rotate3d(0,0,0,0);
      -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
      transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
      background-color:#e03e3a;
      height: calc(100%);
      display: block;
  }

  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
      background-color: #e03e3a;
  }

  .vb > .vb-dragger:hover > .vb-dragger-styler {
      background-color: #e03e3a;
      margin: 0px;
      height: 100%;
  }

  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
      background-color:#e03e3a;
      margin: 0px;
      height: 100%;
  }

  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
      background-color:#e03e3a;
  }
}
