<div id="news">
  <div class="panel">
    <div class="panel-heading">
      <h2>商会资讯</h2>
      <a href="#" class="more">更多...</a>
    </div>
    <div class="panel-body">
        <div v-bar="{preventParentScroll: true,scrollThrottle: 30}">
          <div>
            <ul class="no-bullet">
                <li v-for="elem in newslist" :key="elem.id">
                  <a href="#" target="_blank" class="text-overflow" :title="elem.title">{{elem.title}}</a>
                  <p class="text-overflow">{{elem.abstractContent}}</p>
                </li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h2>通告</h2>
      <a href="#" class="more">更多...</a>
    </div>
    <div class="panel-body">
      <div v-bar="{preventParentScroll: true,scrollThrottle: 30}">
        <div>
          <ul class="no-bullet">
            <li v-for="elem in noticelist" :key="elem.id">
              <a href="#" target="_blank" class="text-overflow" :title="elem.title">{{elem.title}}</a>
              <p class="text-overflow">由香港贸易发展局、香港科技大学深圳由香港贸易发展局、香港科技大学深圳由香港贸易发展局、香港科技大学深圳由香港贸易发展局、香港科技大学深圳</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
