<div id="news">
  <div class="panel">
    <div class="panel-heading">
      <h2>商会资讯</h2>
      <router-link :to="{ name: 'chamber.news', params: { chamId: chamId } }" class="more">更多...</router-link>
    </div>
    <div class="panel-body">
        <div v-bar="{preventParentScroll: true,scrollThrottle: 30}">
          <div>
            <ul class="no-bullet">
                <li v-for="elem in newslist" :key="elem.id">
                  <router-link :to="{ name: 'chember.newentry', params: { entryId: elem.id } }" class="text-overflow" :title="elem.title">
                    {{elem.title}}
                  </router-link>
                  <p class="text-overflow">{{elem.abstractContent}}</p>
                </li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h2>通告</h2>
      <router-link :to="{ name: 'chamber.notice', params: { chamId: chamId } }" class="more">更多...</router-link>
    </div>
    <div class="panel-body">
      <div v-bar="{preventParentScroll: true,scrollThrottle: 30}">
        <div>
          <ul class="no-bullet">
            <li v-for="elem in noticelist" :key="elem.id">
              <router-link :to="{ name: 'chamber.noticedetail', params: { entryId: elem.id } }" class="text-overflow" :title="elem.title">
                {{elem.title}}
              </router-link>
              <p class="text-overflow">{{elem.abstractContent}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
