<div class="verify-manager">
  <el-form ref="verifyForm" :model="verifyForm" label-width="100px">
    <el-form-item label="公司全称">
      <el-input v-model="verifyForm.Name"></el-input>
    </el-form-item>
    <el-form-item label="上传照片" class="cover-uploader-item">
      <div class="clearfix">
        <el-upload
          action="//up.qbox.me/"
          list-type="picture-card"
          :multiple="false"
          :show-file-list="false"
          :on-success="handleBusinessLicenceSuccess"
          :before-upload="beforeBusinessLicenceUpload"
          :data="coverEditor.BusinessLicenceImage"
          ref="imageUploader"
          class="cover-uploader"
          v-if="!verifyForm.BusinessLicenceImgUrl">
          <i class="el-icon-plus"></i>
        </el-upload>
        <div class="cover" v-if="verifyForm.BusinessLicenceImgUrl">
          <div class="cover-bg" v-lazy:background-image="verifyForm.BusinessLicenceImgUrl">
            <a @click="removeCover(verifyForm.BusinessLicenceImgUrl)" class="btn btn-dark btn-xs btn-remove"><i class="fa fa-trash"></i></a>
          </div>
        </div>
      </div>
      <p class="m-n">认证为商户：请上传门店或生产场所相关照片 <br>认证为企业：请上传公司营业执照彩色复印件</p>
    </el-form-item>
    <el-form-item label="法人职称">
      <el-input v-model="verifyForm.JobTitle" placeholder="法人在公司中的职称"></el-input>
    </el-form-item>
    <el-form-item label="身份证正面" class="cover-uploader-item">
      <div class="clearfix">
        <el-upload
          action="//up.qbox.me/"
          list-type="picture-card"
          :multiple="false"
          :show-file-list="false"
          :on-success="handleLegalPersonIdCard1Success"
          :before-upload="beforeLegalPersonIdCard1Upload"
          :data="coverEditor.LegalPersonIdCard1Image"
          ref="imageUploader"
          class="cover-uploader"
          v-if="!verifyForm.LegalPersonIdCard1">
          <i class="el-icon-plus"></i>
        </el-upload>
        <div class="cover" v-if="verifyForm.LegalPersonIdCard1">
          <div class="cover-bg" v-lazy:background-image="verifyForm.LegalPersonIdCard1">
            <a @click="removeCover(verifyForm.LegalPersonIdCard1)" class="btn btn-dark btn-xs btn-remove"><i class="fa fa-trash"></i></a>
          </div>
        </div>
        <el-upload
          action="//up.qbox.me/"
          list-type="picture-card"
          :multiple="false"
          :show-file-list="false"
          :on-success="handleLegalPersonIdCard2Success"
          :before-upload="beforeLegalPersonIdCard2Upload"
          :data="coverEditor.LegalPersonIdCard2Image"
          ref="imageUploader"
          class="cover-uploader"
          v-if="!verifyForm.LegalPersonIdCard2">
          <i class="el-icon-plus"></i>
        </el-upload>
        <div class="cover" v-if="verifyForm.LegalPersonIdCard2">
          <div class="cover-bg" v-lazy:background-image="verifyForm.LegalPersonIdCard2">
            <a @click="removeCover(verifyForm.LegalPersonIdCard2)" class="btn btn-dark btn-xs btn-remove"><i class="fa fa-trash"></i></a>
          </div>
        </div>
      </div>
    </el-form-item>
    <el-form-item class="form-action-item">
      <el-button type="primary" @click="onVerifySubmit">提交认证</el-button>
      <el-button>取消</el-button>
    </el-form-item>
  </el-form>
</div>