<div id="slide">
  <div class="myswiper">
  <swiper :options="swiperOption" ref="mySwiper">
    <!-- 幻灯内容 -->
    <template v-if="bannerList.length">
      <swiper-slide v-for="elem in bannerList" :key="elem.id">
        <a :href="elem.contentUrl" target="_blank">
          <template v-if="elem.images && elem.images.url">
            <span class="cover" :style="`background-image:url(${elem.images.url});background-size:cover;`"></span>
          </template>
          <template v-else>
            <span class="cover" :style="`background-image:url(${require('@/assets/images/ic_home_banner.png')});background-size:cover;`"></span>
          </template>
        </a>
      </swiper-slide>
    </template>
    <template v-else>
      <swiper-slide>
        <a href="#" target="_blank">
            <span class="cover" :style="`background-image:url(${require('@/assets/images/ic_home_banner.png')});background-size:cover;`"></span>
        </a>
      </swiper-slide>
    </template>
    <!-- 以下控件元素均为可选 -->
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
  </div>

  <div class="newslidebox">
    <div class="newlist">
      <swiper :options="newSwiperOption" ref="myNewSwiper">
        <swiper-slide v-for="elem in newsList" :key="elem.id">
          <a href="#" target="_blank" class="text-overflow">{{elem.title}}</a>
        </swiper-slide>
      </swiper>
    </div>
    <div class="more">
      <a href="#" target="_blank">
        <img src="~@/assets/images/ic_home_more.png" alt="more"/>
      </a>
    </div>
  </div>
</div>
