<div id="brandEnterprise">
  <div class="row">
    <div class="panel small-12 columns">
      <div class="penel-heading">
        <h2><i></i> 品牌企业<span>Brand Enterprise</span></h2>
        <router-link :to="{ name: 'chamber.member', params: { chamId: chamId } }" class="more">更多...</router-link>
      </div>
      <div class="panel-body">
        <ul class="no-bullet">
          <li v-for="elem in siteList" :key="elem.Id">
            <a :href="`${baseUrl}/${elem.CompanyId}/profile`" target="_blank" :title="elem.Title">
              <avatar :src="elem.FcRecommendVisualizationImgUrl" :size="280" mode="logo" :alt="elem.Title"></avatar>
              <span>{{elem.Title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
