.auctions-list-wrap {
  padding-top: 20px;
}

.auctions-list-wrap .infinite-status-prompt {
  padding-top: 0px !important;
}

.stream-item .item-cover {
  width: 40%;
  float: left;
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
}

.stream-item .item-cover::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 80%;
}

.stream-item .item-cover img {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.stream-item .item-info {
  width: 60%;
  float: left;
  padding-left: 16px;
}

.stream-item .end-time time {
  color: green;
}

.stream-item .end-time .end {
  color: red;
}

.stream-item .item-info .detail-link a {
  display: inline-block;
  margin-right: 8px;
}

.stream-item .item-info .detail-link a:hover {
  text-decoration: underline;
}

.stream-item .item-info .btn-delete {
  position: absolute;
  right: 5px;
  top: 5px;
}
