.wrapper{
  background-color: #f8f8f8;
  .company-create{
    background-color: #fff;
  }
  .panel{
    margin-bottom: 0;
  }
  .panel-heading{
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid #e2e2e2;
    p{
      margin: 0;
    }
  }
  
  .panel-body{
    min-height:400px;
    .uploadbtn{
      float: left;
      margin-left: 20px;
    }
    .tip{
      height: 40px;
      line-height: 40px;
      margin-top: 20px;
      font-size: 16px;
      font-weight:500;
      text-decoration: underline;
    }

    .uploadResult{
      margin-left: 10px;
      b{
        font-size: 16px;
        font-family: "Inpact";
      }
      b.success{
        color:#05CE3E;
      }
      b.error{
        color:#EC4A4B;
      }
    }
    .mt100{
      margin-top: 100px;
    }
    .mt30{
      margin-top: 30px;
    }
    .label-caption{
      height: 40px;
      line-height: 30px;
      padding-left: 3px;
      font-weight: bold;
    }
    .batchUploadFormbox{
      .el-form-item{
        margin-bottom: 0;
      }
    }
    .filebox{
      position:relative;
      margin-left: 20px;
      float: left;
      margin-right: 20px;
      overflow: hidden;
      input[type="file"]{
        display:block;
        cursor: pointer;
        position:absolute;
        top: -30px;
        height: 70px;
        opacity: 0;
        filter: alpha(opacity=0)
      }
      input{
        position:absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 40px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0)
      }
      .el-input{
        position:absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}
