<div class="company-list-grid" v-if="items">
  <template v-if="isMyMall">
    <draggable v-model="drapList" @update="datadragEnd">
      <transition-group>
  <div class="grid-item col-sm-6 col-md-3 wrapper-xs" v-for="item in drapList" :key="item.companyId">
    <div class="grid-item-bd">
      <div class="profileCard">
        <router-link :to="{ name: 'company.profile', params: { id: item.companyId } }" class="profileCard-bg">
          <template v-if="formatCardBg(item)">
            <img v-lazy="formatCardBg(item)" alt=""/>
          </template>
        </router-link>
        <div class="profileCard-content">
          <router-link :to="{ name: 'company.profile', params: { id: item.companyId } }" class="profileCard-avatarLink">
            <template v-if="item.companyLogo">
              <avatar :src="item.companyLogo" :size="152" class="profileCard-avatarImage" mode="logo"></avatar>
            </template>
            <template v-else>
              <avatar :src="getCompanyLogo(item.companyInfo)" :size="152" class="profileCard-avatarImage" mode="logo"></avatar>
            </template>
          </router-link>
          <div class="recomicon" v-if="isMyMall">
            <el-tag type="primary" class="btn-primary">已推荐</el-tag>
          </div>
          <div class="profileCard-userFields">
              <div class="profileName-wrap clearfix m-b-xs">
                  <router-link :to="{ name: 'company.profile', params: { id: item.companyId } }" class="profileName pull-left">
                    <template v-if="item.companyInfo.VerifyStatus == 1">
                      <span class="icon icon-corp" v-if="!item.companyInfo.NotAllPass">企</span>
                      <span class="icon icon-store" v-else>商</span>
                      <span class="icon icon-verified">证</span>
                    </template>
                    <template v-else>
                      <span class="icon icon-default">商</span>
                    </template>
                    <strong>{{ item.companyInfo.BrandName }}</strong>
                  </router-link>

              </div>
              <div class="profileCard-location m-b-sm">
                <img src="~@/assets/svg/company/icon_shop.svg" width="40" v-if="item.companyInfo.HasProducts"/>
                <span>{{ item.companyInfo.ResidentProvince }} {{ item.companyInfo.ResidentCity }} {{ item.companyInfo.ResidentArea }}</span>
              </div>
              <div class="profileCard-meta" v-if="companyExtProperties[item.companyId]">
                所在位置：{{ getAddressInMall(companyExtProperties[item.companyId]) }}
              </div>

              <template v-if="isMyMall">
                <div class="foot-cz">
                  <el-checkbox v-model="checked[item.companyId]" @change="removeRecommond(item.companyId)">取消推荐</el-checkbox>
                  <div class="sort"><i class="fa fa-arrows"></i></div>
                </div>
              </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</transition-group>
</draggable>
</template>

<template v-else>
  <div class="grid-item col-sm-6 col-md-3 wrapper-xs" v-for="item in drapList" :key="item.companyId">
    <div class="grid-item-bd">
      <div class="profileCard">
        <router-link :to="{ name: 'company.profile', params: { id: item.companyId } }" class="profileCard-bg">
          <template v-if="formatCardBg(item)">
            <img v-lazy="formatCardBg(item)" alt=""/>
          </template>
        </router-link>
        <div class="profileCard-content">
          <router-link :to="{ name: 'company.profile', params: { id: item.companyId } }" class="profileCard-avatarLink">
            <template v-if="item.companyLogo">
              <avatar :src="item.companyLogo" :size="152" class="profileCard-avatarImage" mode="logo"></avatar>
            </template>
            <template v-else>
              <avatar :src="getCompanyLogo(item.companyInfo)" :size="152" class="profileCard-avatarImage" mode="logo"></avatar>
            </template>
          </router-link>
          <div class="recomicon" v-if="isMyMall">
            <el-tag type="primary" class="btn-primary">已推荐</el-tag>
          </div>
          <div class="profileCard-userFields">
              <div class="profileName-wrap clearfix m-b-xs">
                  <router-link :to="{ name: 'company.profile', params: { id: item.companyId } }" class="profileName pull-left">
                    <template v-if="item.companyInfo.VerifyStatus == 1">
                      <span class="icon icon-corp" v-if="!item.companyInfo.NotAllPass">企</span>
                      <span class="icon icon-store" v-else>商</span>
                      <span class="icon icon-verified">证</span>
                    </template>
                    <template v-else>
                      <span class="icon icon-default">商</span>
                    </template>
                    <strong>{{ item.companyInfo.BrandName }}</strong>
                  </router-link>

              </div>
              <div class="profileCard-location m-b-sm">
                <img src="~@/assets/svg/company/icon_shop.svg" width="40" v-if="item.companyInfo.HasProducts"/>
                <span>{{ item.companyInfo.ResidentProvince }} {{ item.companyInfo.ResidentCity }} {{ item.companyInfo.ResidentArea }}</span>
              </div>
              <div class="profileCard-meta" v-if="companyExtProperties[item.companyId]">
                所在位置：{{ getAddressInMall(companyExtProperties[item.companyId]) }}
              </div>

              <template v-if="isMyMall">
                <div class="foot-cz">
                  <el-checkbox v-model="checked[item.companyId]" @change="removeRecommond(item.companyId)">取消推荐</el-checkbox>
                  <div class="sort"><i class="fa fa-arrows"></i></div>
                </div>
              </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

  <el-dialog title="添加好友" v-model="addFriendDialogVisible" size="tiny">
    <template v-if="currentCompanyEmployees.length">
      <employee-list-group :employees="currentCompanyEmployees"></employee-list-group>
    </template>
  </el-dialog>

  <el-dialog title="欢迎来到辅城，请先登录" v-model="loginDialogVisible" size="tiny">
    <login-dialog-form></login-dialog-form>
  </el-dialog>
</div>
