@import '~@/assets/scss/foundation';

.home-article-list {
  .home-article-list-item {
    margin-bottom: 10px;

    .cover {
      width: 140px;
      margin-right: 20px;
      float: left;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: 50% 50%;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
      }
    }

    .info {
      width: 548px;
      float: left;

      a {
        color: #000;

        &:hover {
          color: $primary-color;
        }
      }

      h3 {
        font-size: 15px;
      }

      p {
        color: scale-color(#000, $lightness: 30%);
        font-size: 14px;
      }
    }
  }
}

.home-news-panel {
  .panel-heading {
    height: 40px;
    border-bottom: #F0F0F0 solid 1px;

    h4 {
      color: #000;
      margin: 0;
      font-size: 16px;
    }
  }

  & > .panel-body {
    min-height: 630px;
  }

  .panel-footer {
    border-top: 0 none;
    margin-top: 0;
    padding: 0 15px 20px;

    .btn-dark {
      color: $primary-color !important;
      background-color: #E2E9F4;
      border-color: #E2E9F4;
      transition: all 0.3s ease;

      &:hover {
        background-color: scale-color(#E2E9F4, $lightness: -5%);
        border-color: scale-color(#E2E9F4, $lightness: -5%);
      }
    }
  }

  .panel {
    box-shadow: none;
  }

  .el-tabs__header {
    position: absolute;
    top: 0;
    left: 178px;
    margin: 0;
    border-bottom: 0 none;
  }
}