<div class="company-list-grid" v-if="items">
  <template v-if="isMyCham">
    <draggable v-model="drapList" @update="datadragEnd">
      <transition-group>
    <div class="grid-item col-sm-6 col-md-3 wrapper-xs" v-for="item in drapList" :key="item.Id">
      <div class="grid-item-bd">
        <div class="profileCard">
          <router-link :to="{ name: 'company.profile', params: { id: item.CompanyId } }" class="profileCard-bg">
            <template v-if="formatCardBg(item)">
              <img v-lazy="formatCardBg(item)" alt=""/>
            </template>
          </router-link>
          <div class="profileCard-content">
            <router-link :to="{ name: 'company.profile', params: { id: item.Id } }" class="profileCard-avatarLink">
              <avatar :src="item.FcRecommendVisualizationImgUrl" :size="152" class="profileCard-avatarImage" mode="logo"></avatar>
            </router-link>
            <div class="recomicon" v-if="isMyCham">
              <el-tag type="primary" class="btn-primary">已推荐</el-tag>
            </div>
            <div class="profileCard-userFields">
                <div class="profileName-wrap clearfix m-b-xs">
                    <router-link :to="{ name: 'company.profile', params: { id: item.CompanyId } }" class="profileName pull-left">
                      <strong>{{ item.Title }}</strong>
                    </router-link>

                </div>
                <div class="profileCard-location m-b-sm">
                  <span>站点简介：{{ item.Intro?item.Intro:"暂无数据" }} </span>
                </div>

                <div class="profileCard-location m-b-sm">
                  <span>站点标签：{{ item.Keywords?item.Keywords:"暂无数据" }}</span>
                </div>

                <template v-if="isMyCham">
                  <div class="foot-cz">
                    <el-checkbox v-model="checked[item.Id]"  @change="removeRecommondSite(item.CompanyId)">取消推荐</el-checkbox>
                    <div class="sort"><i class="fa fa-arrows"></i></div>
                  </div>
                </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition-group>
  </draggable>
  </template>

<template v-else>
  <div class="grid-item col-sm-6 col-md-3 wrapper-xs" v-for="item in drapList" :key="item.Id">
    <div class="grid-item-bd">
      <div class="profileCard">
        <router-link :to="{ name: 'company.profile', params: { id: item.CompanyId } }" class="profileCard-bg">
          <template v-if="formatCardBg(item)">
            <img v-lazy="formatCardBg(item)" alt=""/>
          </template>
        </router-link>
        <div class="profileCard-content">
          <router-link :to="{ name: 'company.profile', params: { id: item.Id } }" class="profileCard-avatarLink">
            <avatar :src="item.FcRecommendVisualizationImgUrl" :size="152" class="profileCard-avatarImage" mode="logo"></avatar>
          </router-link>
          <div class="recomicon" v-if="isMyCham">
            <el-tag type="primary" class="btn-primary">已推荐</el-tag>
          </div>
          <div class="profileCard-userFields">
              <div class="profileName-wrap clearfix m-b-xs">
                  <router-link :to="{ name: 'company.profile', params: { id: item.CompanyId } }" class="profileName pull-left">
                    <strong>{{ item.Title }}</strong>
                  </router-link>

              </div>
              <div class="profileCard-location m-b-sm">
                <span>站点简介：{{ item.Intro?item.Intro:"暂无数据" }} </span>
              </div>

              <div class="profileCard-location m-b-sm">
                <span>站点标签：{{ item.Keywords?item.Keywords:"暂无数据" }}</span>
              </div>

              <template v-if="isMyCham">
                <div class="foot-cz">
                  <el-checkbox v-model="checked[item.Id]"  @change="removeRecommondSite(item.CompanyId)">取消推荐</el-checkbox>
                  <div class="sort"><i class="fa fa-arrows"></i></div>
                </div>
              </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

  <el-dialog title="欢迎来到辅城，请先登录" v-model="loginDialogVisible" size="tiny">
    <login-dialog-form></login-dialog-form>
  </el-dialog>
</div>
