<div class="companies-list-section">
  <div class="container padder-v">
    <div class="section-hd">
      <h4>品牌商家</h4>
    </div>
    <div class="section-bd">
      <swiper :options="companySwiperOptions" ref="companySwiper">
        <swiper-slide v-for="item in shuffleCompanyList" :key="item.Id">
          <router-link :to="{ name: 'company.profile', params: { id: item.Company.Id } }">
            <span class="cover">
              <img :src="formatSrc(item.Cover1)" width="354" height="231" alt="">
            </span>
            <span class="company-name">{{ item.Company.BrandName }}</span>
          </router-link>
        </swiper-slide>
      </swiper>
      <span class="companySwiper-button companySwiper-button-prev">
        <i class="fa fa-angle-left"></i>
      </span>
      <span class="companySwiper-button companySwiper-button-next">
        <i class="fa fa-angle-right"></i>
      </span>
    </div>
  </div>
</div>