<div class="company-employee company-subpage row">
  <div class="col-md-12" v-if="isManager">
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading wrapper-sm b-b b-light">
        员工分类
      </div>
      <div class="list-group">
        <a class="list-group-item" :class="{ 'active': group.id == currentGroupId }" v-for="group in groups" @click="switchGroup(group.id)">
          {{ group.name }}
        </a>
      </div>
    </div>
    <div class="batchadd" v-if="isMyCompany || getRoles('EmployeeAdmin')">
      <div class="btn btn-primary" @click="openBatchEmployeeDialog"><i class="fa fa-users"></i> 批量导入员工</div>
    </div>

    <el-dialog :title="employeeBatchDialogTitle" v-model="employeeBatchDialogVisible" size="small">
      <employeeBatchAdd v-on:fetchEmployees="initEmployees"></employeeBatchAdd>
    </el-dialog>
  </div>
  <div class="col-md-9">
    <div class="panel no-border">
      <div class="panel-heading wrapper b-b b-light">
          <el-button class="pull-right padder-md" type="primary" size="small" @click="openNewEmployeeDialog" v-if="isMyCompany || getRoles('EmployeeAdmin')"><i class="fa fa-user"></i> 新增员工</el-button>
          <template v-if="currentGroupId == 1">
            <strong>已关联用户职员</strong>
          </template>
          <template v-else>
            <strong>未关联用户职员</strong>
          </template>
        </div>
        <ul class="list-group list-group-lg m-b-none" v-if="employees.length !== 0">
          <template v-for="(item, index) in employees">
            <li class="list-group-item clearfix">
              <a class="pull-left thumb-sm m-r">
                <template v-if="item.UserId">
                  <avatar :src="item.User.PortraitUrl" :size="80" class="r r-2x"></avatar>
                </template>
                <template v-else>
                  <avatar :src="null" :size="80" class="r r-2x"></avatar>
                </template>
              </a>
              <div class="dropdown pull-right" v-if="isMyCompany || getRoles('EmployeeAdmin')">
                <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-dropdown>
                  <i class="glyphicon glyphicon-cog"></i> 操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a @click="openEditEmployeeDialog(item)">修改信息</a></li>
                  <li v-if="item.UserId && item.UserId !== userId"><a @click="openCancelConnectionDialog(item)">取消关联</a></li>
                  <li v-if="item.UserId !== userId"><a @click="deleteThisEmployee(item)">删除该职位</a></li>
                </ul>
              </div>
              <span class="clear">
                <span>{{ item.Name }}</span>
                <small class="text-muted clear text-ellipsis"><template v-if="item.UserId">关联用户: {{item.User.RealName}}</template> <template v-if="item.JobTitle">职位：{{ item.JobTitle }}</template></small>
              </span>

              <el-dialog :title="employeeDialogTitle" v-model="employeeDialogFormVisible" size="small" @close="closeEmployeeDialog">
                <employeeAdd :items="currentEditingUser"></employeeAdd>
              </el-dialog>

              <el-dialog title="员工管理" v-model="cancelConnectionDialogVisible" size="tiny">
                <span v-if="currentCancelConnectionUser.Id">是否取消{{ currentCancelConnectionUser.JobTitle }}<<strong>{{ currentCancelConnectionUser.Name }}</strong>> 与用户<<strong>{{ currentCancelConnectionUser.User.RealName }}</strong>>的关联</span>
                <span slot="footer" class="dialog-footer">
                  <el-button @click="closeCancelConnectionDialog">取 消</el-button>
                  <el-button type="primary" @click="confirmCancelConnectionDialog">确 定</el-button>
                </span>
              </el-dialog>

            </li>
          </template>
        </ul>
        <placeholder text="暂无相关职员" v-else></placeholder>
    </div>
  </div>
  </div>
  <div class="col-md-12" v-if="isRole">
    <div class="no_rbac"><i class="fa fa-exclamation-triangle"></i> 您没有权限访问该模块！</div>
  </div>
</div>
