.form-control.error {
  color: red;
}

.captchaWrap {
  cursor: pointer;

  span {
    display: inline-block;
    line-height: 36px;
  }

  .captchaImg {
    display: inline-block;
    background-color: #f0f0f0;
    width:108px;
    height:36px;
    background-size: 108px 36px;
    background-repeat: no-repeat;
    margin-right: 6px;
    float: left;
  }
}

