@import '~@/assets/scss/foundation';

.mall-article-entry {
  padding-top: 10px;

  .comment_content{
    word-break: break-all;
  }

  .article-entry {
    background-color: #fff;
    padding: 30px 20px;

    .entry-hd {
      margin-bottom: 20px;

      h3 {
        font-size: 22px;
        margin: 0 0 20px;
      }

      .metas {
        span {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    .edit-link,.dell-link{
      color: $primary-color;
      display: inline-block;
      margin-left: 10px;
    }

    .dell-link{
      cursor: pointer;
    }

    img {
      display: block;
      width: 100% !important;
      height: auto !important;
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: rem-calc(16);
    }
  }

  .article-entry-aside {
    padding: 20px;
    background-color: #fff;
  }

  .latest-news {
    margin: 0;
    padding: 0;
  }

  .latest-news li {
    list-style: none;
    margin-bottom: 10px;
    &:hover{
      background-color: #f8f8f8;
    }
  }

  .latest-news .title {
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 160%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .latest-news  .cover {
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 12px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    float: left;
  }

  .comment-list {
    margin-top: 50px;
    border-top: 1px dashed #e8e8e8;
    padding-top: 16px;

    .list-item {
      padding-bottom: 6px;
      margin-bottom: 16px;
      border-bottom: 1px dashed #e8e8e8;

      &:last-child {
        border-bottom: 0 none;
      }

      .btn-reply {
        color: $primary-color;
        visibility: hidden;
        opacity: 0;
      }

      &:hover {
        .btn-reply {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .avatar {
      display: inline-block;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      float: left;
      margin-right: 10px;
    }

    .comment-info {
      float: left;

      p {
        color: #666;
        margin-bottom: 4px;

        &.comment-metas {
          color: #303030;
          margin-top: 6px;
          margin-bottom: 2px;

          .nickname {
            color: $primary-color;
            display: inline-block;
            margin-right: 6px;
          }

          time {
            color: #ccc;
          }
        }
      }
    }

    .topic-reply-form {
      padding-top: 10px;
      padding-left: 58px;
    }
  }
}
