<div class="mall-article-entry" v-if="entry.id">
  <div class="col-sm-12 col-md-8">
    <div class="article-entry">
      <div class="entry-hd">
        <h3>{{ entry.abstractContent }}</h3>
        <p class="metas">
          <span>发布时间：<timeago :since="entry.createTime * 1000"></timeago></span>
          <span>阅读次数：{{ entry.readCount }}  </span>
          <router-link :to="{ name: 'mall.topic.edit', params: { entryId: entry.id } }" class="edit-link"><i class="fa fa-edit"></i> 编辑该话题</router-link>
          <span @click="dellTopic" class="dell-link"><i class="fa fa-trash"></i> 删除该话题</span>
        </p>
      </div>
      <div class="entry-bd">
        <div class="entry-content" v-html="entry.content"></div>
      </div>
      <div class="entry-ft">
        <div class="comment-list">
          <div class="list-item" v-for="comment in commentList" :key="comment.id">
            <div class="clearfix" v-if="commentUsers[comment.from.Id]">
              <span class="avatar" v-lazy:background-image="getAvatar(commentUsers[comment.from.Id])"></span>
              <div class="comment-info">
                <p class="comment-metas"><span class="nickname">{{ commentUsers[comment.from.Id].Name }}</span> <timeago :since="comment.createTime * 1000"></timeago></p>
                <div v-html="comment.content" class="comment_content"></div>
                <template v-if="currentReply.id == comment.id">
                  <a class="btn-reply" @click="hideReplyForm">取消回复</a>
                </template>
                <template v-else>
                  <a class="btn-reply" @click="showReplyForm(comment)">回复</a>
                </template>
              </div>
            </div>
            <reply-form v-if="currentReply.id == comment.id" :replyComment="currentReply"></reply-form>
          </div>
        </div>
        <comment-form v-on:comments="fetchArticleComments"></comment-form>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="article-entry-aside">
      <div class="aside-hd">
        <h4>最近话题</h4>
      </div>
      <div class="aside-bd">
        <ul class="latest-news">
          <li v-for="item in latestList">
            <router-link :to="{name:'mall.topic.entry',params:{topicId:item.id}}">
              <template v-if="item.images">
                <span class="cover" v-lazy:background-image="item.images.url"></span>
              </template>
              <span class="title">{{ item.abstractContent }}</span>
              <span class="text-xs block m-t-xs"><timeago :since="item.createTime * 1000"></timeago></span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
