<div class="aboutbox">
    <div class="entry-hd">
      <h3>商会简介</h3>
      <template v-if="isMyCham">
        <el-button type="primary" class="btn-add" @click="openAboutManagerDialog">编辑商会简介</el-button>
        <el-dialog class="company-manager-dialog" title="编辑商会简介" v-model="aboutManagerVisible" size="large">
          <el-form ref="aboutForm" :model="aboutForm">
            <el-form-item>
              <froala id="froala-editor" :tag="'textarea'" :config="config" v-model="aboutForm.introduction" ref="froala"></froala>
            </el-form-item>
            <el-form-item class="text-right">
              <el-button type="primary" @click="saveChanges">保存更改</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
      </template>
    </div>
    <hr/>
    <div class="entry-bd">
      <div class="entry-content" v-html="about.introduction" v-if="about.introduction"></div>
      <div class="entry-content text-center" v-else>
        该商会还没有相关介绍
      </div>
    </div>
</div>
