@import '~@/assets/scss/foundation';

.aboutbox {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  .entry-hd{
    position: relative;
  }
  h3{
    margin: 0;
    margin-bottom: 15px;
    height: 40px;
    line-height: 40px;
  }
  .about-content{
    padding: 20px 20px 30px;
  }
  .btn-add{
    position:absolute;
    top: 0px;
    right: 0px;
  }
}

.company-manager-dialog {
  .el-dialog {
    top: 10% !important;
  }
}
